<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.customer.BCustomerMapper">

    <select id="customerChangePageList_Select" resultType="java.util.Map">
        <![CDATA[
            SELECT
            m.ClueID,
            m.CustomerID,
            m.CustomerName,
            m.CustomerMobile,
            CASE WHEN dbo.F_DictName(m.CustomerRank) <> '' THEN dbo.F_DictName(m.CustomerRank) ELSE '1级' END CustomerRank,
            dbo.F_GetClueStatusName(m.Status, 0)                                                             Status,
            m.InvalidReason,
            m.ComeOverdueTime,
            m.TradeOverdueTime,
            dbo.F_GetSaleUserName(m.ConfirmUserId)                                                           ConfirmUserName,
            m.ConfirmTime,
            m.ProjectID,
            dbo.F_DictName(m.SourceType)                                                                     SourceType,
            m.ReportTime,
            m.TheFirstVisitDate,
            m.ReportUserID,
            m.ReportUserName,
            m.ReportUserMobile,
            m.ChannelName,
            m.OpportunityID,
            dbo.F_GetZJDF(m.OpportunityID)                                                                   ZJDF,
            STUFF((SELECT ',' + r.RoomCode
            FROM dbo.B_Room r
            INNER JOIN dbo.B_Building b ON r.BuildingID = b.ID
            WHERE r.ID
            IN
            (SELECT mt.RoomGUID
            FROM dbo.B_Opportunity o
            INNER JOIN dbo.B_CustomerAttach ca ON o.ID = ca.OpportunityID
            INNER JOIN dbo.C_MYTrade mt ON mt.OppGUID = ca.ID
            WHERE o.ID = m.OpportunityID)
            AND r.ProjectID in (select ID from B_Project where PID = #{projectID}) FOR XML PATH ('')), 1, 1,
            '')                                                                                        Room,
            dbo.F_GetClueStatusName('', m.OpportunityStatus)                                                 OpportunityStatus
            FROM (
            SELECT *
            FROM (
            SELECT DISTINCT b.ID                        ClueID,
            b.CustomerPotentialID       CustomerID,
            b.Name                      CustomerName,
            b.Mobile                    CustomerMobile,
            CASE
            WHEN o.CustomerRank IS NOT NULL THEN o.CustomerRank
            ELSE b.CustomerRank END CustomerRank,
            b.Status,
            b.InvalidReason,
            b.ComeOverdueTime,
            b.TradeOverdueTime,
            b.ConfirmUserId,
            b.ConfirmTime,
            b.IntentProjectID           ProjectID,
            b.SourceType,
            b.SourceType                SourceTypeID,
            b.ReportUserID,
            b.ReportUserName,
            b.ReportUserMobile,
            b.CreateTime AS             ReportTime,
            o.TheFirstVisitDate,
            CO.OrgName                  ChannelName,
            b.ReportUserOrg,
            o.ID                        OpportunityID,
            o.Status                    OpportunityStatus
            FROM B_Clue b
            LEFT JOIN dbo.B_Opportunity o
            ON b.ID = o.ClueID AND o.IsDel = 0 AND o.ProjectID = #{projectID}
            LEFT JOIN B_ChannelOrg CO ON CO.ID = b.ReportUserOrg AND CO.IsDel = 0
            LEFT JOIN dbo.B_CustomerAttach A
            ON A.OpportunityID = o.ID AND A.IsDel = 0 AND A.ProjectID = #{projectID}
            WHERE b.IsDel = 0
            AND b.IntentProjectID = #{projectID}
            AND b.SourceType IS NOT NULL
            AND b.SourceType <> '0390CD8C-D6D4-4C92-995B-08C7E18E6EC2'
            ) t   where 1=1 ${sqlWhere}
            ) m
        ]]>
    </select>
    <select id="excelToCustomerChangeList" resultType="java.util.Map">
        <![CDATA[
            SELECT
					m.num,
					m.ClueID,
					m.CustomerID,
					m.CustomerName,
					STUFF(m.CustomerMobile ,4,4,'****') CustomerMobile,
					--dbo.F_DictName(m.CustomerRank) CustomerRank,
					CASE WHEN dbo.F_DictName(m.CustomerRank) <> '' THEN  dbo.F_DictName(m.CustomerRank) ELSE '1级' END CustomerRank,
					dbo.F_GetClueStatusName(m.Status,0) Status,
					m.InvalidReason,--原因
					CASE WHEN m.ComeOverdueTime ='1900-01-01 00:00:00.000' THEN NULL ELSE m.ComeOverdueTime END ComeOverdueTime,--到访逾期时间
					CASE WHEN DATEDIFF(day,m.TradeOverdueTime,'1900-01-01')=0 THEN NULL ELSE m.TradeOverdueTime END TradeOverdueTime,--成交逾期时间
					dbo.F_GetSaleUserName(m.ConfirmUserId) ConfirmUserName,--确认人
					m.ConfirmTime,--确认时间
					m.ProjectID,--项目ID
            m.ProjectName,--项目名称
					dbo.F_DictName(m.SourceType) SourceType,--渠道类型
					m.ReportTime,--报备时间
					CASE WHEN DATEDIFF(day,m.TheFirstVisitDate,'1900-01-01')=0 THEN NULL ELSE m.TheFirstVisitDate END TheFirstVisitDate,--首次到访时间
					m.ReportUserID ,
					m.ReportUserName ,
					m.ReportUserMobile ,
					m.ChannelName,
					m.OpportunityID,
					dbo.F_GetZJDF(m.OpportunityID) ZJDF,--最近到访时间
                STUFF(( SELECT    ',' + r.RoomCode FROM dbo.B_Room r INNER JOIN dbo.B_Building b ON r.BuildingID=b.ID WHERE r.ID
                        IN
														(SELECT mt.RoomGUID FROM dbo.B_Opportunity o INNER JOIN dbo.B_CustomerAttach ca ON o.ID=ca.OpportunityID
														INNER JOIN dbo.C_MYTrade mt ON mt.OppGUID=ca.ID WHERE o.ID=m.OpportunityID)
                AND r.ProjectID in (select ID from B_Project where PID=#{projectID}) FOR XML PATH('') ), 1, 1, '') Room
					 FROM (
					 SELECT ROW_NUMBER() OVER(ORDER BY t.ReportTime DESC) num,* FROM (
						SELECT
                                b.ID ClueID ,
                                b.CustomerPotentialID CustomerID ,--客户ID
                                b.Name CustomerName ,--客户姓名
                                b.Mobile CustomerMobile ,--客户手机号
                                CASE WHEN o.CustomerRank IS NOT NULL THEN o.CustomerRank ELSE b.CustomerRank END CustomerRank,--客储等级
                                b.Status,--线索状态
								                b.InvalidReason,--原因
								                b.ComeOverdueTime,--到访逾期时间
								                b.TradeOverdueTime,--成交逾期时间
								                b.ConfirmUserId,--确认人
								                b.ConfirmTime,--确认时间
                                b.IntentProjectID ProjectID ,--意向项目ID
								                b.IntentProjectName ProjectName,--项目名称
                                b.SourceType SourceTypeID,--渠道类型
                                b.SourceType,--渠道类型
                                b.ReportUserID ,
                                b.ReportUserName ,
                                b.ReportUserMobile ,
                                b.CreateTime AS ReportTime , --报备时间
								o.TheFirstVisitDate , --首访时间
                                CO.OrgName ChannelName,
                                b.ReportUserOrg,
								o.ID OpportunityID
                      FROM      B_Clue b
								LEFT JOIN dbo.B_Opportunity o ON b.ID=o.ClueID AND o.IsDel =0 AND o.ProjectID=#{projectID}
								LEFT JOIN B_ChannelOrg CO ON CO.ID=b.ReportUserOrg  AND CO.IsDel =0
								LEFT JOIN dbo.B_CustomerAttach A ON A.OpportunityID = o.ID  AND A.IsDel =0 AND A.ProjectID=#{projectID}
                      WHERE     b.IsDel = 0
                                AND b.IntentProjectID = #{projectID}
                                AND b.SourceType IS NOT NULL AND b.SourceType<>'0390CD8C-D6D4-4C92-995B-08C7E18E6EC2'
								) t  WHERE 1=1 ${sqlWhere}
                                ) m

								WHERE 1=1

  ]]>
    </select>
    <select id="getDistributionList_Select" resultType="java.util.Map">
        <![CDATA[
          SELECT co.ID,co.OrgName FROM dbo.B_ChannelOrg co
            INNER JOIN dbo.B_PojectChannelOrgRel pc ON co.ID=pc.OrgID AND pc.IsDel=0 AND pc.Status=1  AND pc.ProjectID=#{projectID}
            WHERE co.IsDel=0 AND co.Status=1  AND co.OrgCategory=1
        ]]>
    </select>
    <select id="CustomerChange_BakPageList_Select" resultType="java.util.Map">
        <![CDATA[
  
					SELECT 
					m.ClueID,
					m.CustomerID,
					m.CustomerName,
					m.CustomerMobile,
					--dbo.F_DictName(m.CustomerRank) CustomerRank,
					CASE WHEN dbo.F_DictName(m.CustomerRank) <> '' THEN  dbo.F_DictName(m.CustomerRank) ELSE '1级' END CustomerRank,
					dbo.F_GetClueStatusName(m.Status,0) Status,
					m.InvalidReason,
					m.ComeOverdueTime,
					m.TradeOverdueTime,
					dbo.F_GetSaleUserName(m.ConfirmUserId) ConfirmUserName,
					m.ConfirmTime,
					m.ProjectID,
					dbo.F_DictName(m.SourceType) SourceType,
					m.ReportTime,
					m.TheFirstVisitDate,
					m.ReportUserID ,
					m.ReportUserName ,
					m.ReportUserMobile ,
					m.ChannelName,
					m.OpportunityID,
					dbo.F_GetZJDF(m.OpportunityID) ZJDF
					 FROM (
					 SELECT * FROM (
						SELECT  
                                b.ID ClueID ,
                                b.CustomerPotentialID CustomerID ,
                                b.Name CustomerName ,
                                b.Mobile CustomerMobile ,



                                CASE WHEN o.CustomerRank IS NOT NULL THEN o.CustomerRank ELSE b.CustomerRank END CustomerRank,
                                b.Status,
								b.InvalidReason,
								b.ComeOverdueTime,
								b.TradeOverdueTime,
								b.ConfirmUserId,
								b.ConfirmTime,
                                b.IntentProjectID ProjectID ,
                                b.SourceType,
                                b.ReportUserID ,
                                b.ReportUserName ,
                                b.ReportUserMobile ,
                                b.CreateTime AS ReportTime ,
								o.TheFirstVisitDate ,
                                CO.OrgName ChannelName,
								o.ID OpportunityID,
                b.Status Statu
                      FROM      B_Clue b
								LEFT JOIN dbo.B_Opportunity o ON b.ID=o.ClueID AND o.IsDel =0 AND o.ProjectID=#{projectID}
								LEFT JOIN B_ChannelOrg CO ON CO.ID=b.ReportUserOrg  AND CO.IsDel =0
								LEFT JOIN dbo.B_CustomerAttach A ON A.OpportunityID = o.ID  AND A.IsDel =0 AND A.ProjectID=#{projectID} 
                      WHERE     b.IsDel = 0
                                AND b.IntentProjectID = #{projectID} 



								) t  WHERE 1=1 ${sqlWhere}
                                ) m

        ]]>
    </select>
    <select id="SetExcelToCustomerChange_BakList" resultType="java.util.Map">
        <![CDATA[
            SELECT 
					m.num,
					m.CustomerID,
					m.CustomerName,
					m.CustomerMobile,
					STUFF(m.CustomerMobile ,4,4,'****') CustomerMobile,
					--dbo.F_DictName(m.CustomerRank) CustomerRank,
					CASE WHEN dbo.F_DictName(m.CustomerRank) <> '' THEN  dbo.F_DictName(m.CustomerRank) ELSE '1级' END CustomerRank,
					dbo.F_GetClueStatusName(m.Status,0) Status,
					m.InvalidReason,
					CASE WHEN m.ComeOverdueTime ='1900-01-01' THEN NULL ELSE m.ComeOverdueTime END ComeOverdueTime,
					CASE WHEN DATEDIFF(day,m.TradeOverdueTime,'1900-01-01')=0 THEN NULL ELSE m.TradeOverdueTime END TradeOverdueTime,
					dbo.F_GetSaleUserName(m.ConfirmUserId) ConfirmUserName,
					m.ConfirmTime,
					m.ProjectID,
            m.ProjectName,
					dbo.F_DictName(m.SourceType) SourceType,
					m.ReportTime,
					CASE WHEN DATEDIFF(day,m.TheFirstVisitDate,'1900-01-01')=0 THEN NULL ELSE m.TheFirstVisitDate END TheFirstVisitDate,
					m.ReportUserID ,
					m.ReportUserName ,
					m.ReportUserMobile ,
					m.ChannelName,
					m.OpportunityID,
					dbo.F_GetZJDF(m.OpportunityID) ZJDF
					 FROM (
					 SELECT ROW_NUMBER() OVER(ORDER BY t.ReportTime DESC) num,* FROM (
						SELECT  
                                b.ID ClueID ,
                                b.CustomerPotentialID CustomerID ,
                                b.Name CustomerName ,
                                b.Mobile CustomerMobile ,



                                CASE WHEN o.CustomerRank IS NOT NULL THEN o.CustomerRank ELSE b.CustomerRank END CustomerRank,
                                b.Status,
                                b.Status Statu,
								                b.InvalidReason,
								                b.ComeOverdueTime,
								                b.TradeOverdueTime,
								                b.ConfirmUserId,
								                b.ConfirmTime,
                                b.IntentProjectID ProjectID ,
								                b.IntentProjectName ProjectName,
                                b.SourceType,
                                b.ReportUserID ,
                                b.ReportUserName ,
                                b.ReportUserMobile ,
                                b.CreateTime AS ReportTime ,
								o.TheFirstVisitDate ,
                                CO.OrgName ChannelName,
								o.ID OpportunityID
                      FROM      B_Clue b
								LEFT JOIN dbo.B_Opportunity o ON b.ID=o.ClueID AND o.IsDel =0 AND o.ProjectID=#{projectID} 
								LEFT JOIN B_ChannelOrg CO ON CO.ID=b.ReportUserOrg  AND CO.IsDel =0
                      WHERE     b.IsDel = 0
                                AND b.IntentProjectID = #{projectID}  



                                AND b.Status<>3
								) t  WHERE 1=1 ${sqlWhere}
                                ) m

            ]]>
    </select>
    <select id="CustomerChangeDetailAll_Select" resultType="java.util.Map">

    </select>
</mapper>
