<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.customer.BCustomerfiltergroupMapper">

    <select id="groupList" resultType="java.util.HashMap" parameterType="string">
        IF ( #{JobCode} = 'GW' ) BEGIN
        SELECT
        ID,
        NAME Name,
        Filter,
        FilterDesc
        FROM
        B_CustomerFilterGroup
        WHERE
        IsDel = 0
        AND Status = 1
        AND ProjectID = #{ProjectID}
        AND Creator = #{UserID}
        ORDER BY
        CreateTime DESC
        END ELSE
        IF
        ( #{JobCode} = 'ZQ' ) BEGIN
        SELECT
        ID,
        NAME Name,
        Filter,
        FilterDesc
        FROM
        dbo.B_CustomerPotentialFilterGroup
        WHERE
        IsDel = 0
        AND Status = 1
        AND ProjectID = #{ProjectID}
        AND Creator = #{UserID}
        ORDER BY
        CreateTime DESC
        END
    </select>
    <!-- 客户筛选分组列表 -->
	<select id="mCustomerFilterGroupList_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			SELECT  ID ,
			        Name ,
			        Filter ,
			        FilterDesc
			FROM    B_CustomerFilterGroup
			WHERE   IsDel = 0
			        AND Status = 1
			        AND ProjectID = #{ProjectID}
			        AND Creator = #{UserID}
			ORDER BY CreateTime DESC
    	]]>
	</select>
</mapper>
