<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.customer.BOpportunitygiveupMapper">
	<!-- 机会列表中是否存在丢失中的机会 -->
	<select id="sOpportunityGiveUpListDetail_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			SELECT ID ,OpportunityID ,CustomerName ,CustomerMobile ,ApprovalStatus 
			FROM    B_OpportunityGiveUp
			WHERE  IsDel=0 and Status=1 AND ApprovalStatus=0 
				AND  OpportunityID IN (SELECT name FROM F_StrToTable(#{OpportunityID}))
	    ]]>
	</select>
	<!-- 重新分配start -->
	<update id="updSMessByOpportunity_Adviser" parameterType="java.util.Map">
		<![CDATA[
			UPDATE S_Message 
			SET IsApprove = 1, Editor = #{UserID}, EditTime = GETDATE() 
			WHERE ISNULL(IsApprove,0) = 0 AND BizType = 'Opportunity' 
			AND BizID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '')
		]]>
	</update>
	<update id="updSMessByOpportunityGiveUp_Adviser" parameterType="java.util.Map">
		<![CDATA[
			UPDATE S_Message 
			SET IsApprove = 1, Editor = #{UserID}, EditTime = GETDATE() 
			WHERE ISNULL(IsApprove,0) = 0 AND BizType = 'OpportunityGiveUp' 
			AND BizID IN( SELECT ID FROM dbo.B_OpportunityGiveUp WHERE OpportunityID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> ''));
		]]>
	</update>
	<insert id="insBCustomerFollowUp_Adviser" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO dbo.B_CustomerFollowUp( ID ,CustomerID ,CustomerMobile ,CustomerName ,OpportunityID ,FollwUpUserID ,FollwUpUserName ,FollwUpUserMobile ,FollwUpType ,FollwUpWay ,FollowUpContent ,NextFollowUpDate ,IntentionLevel ,OrgID ,Creator ,CreateTime ,Editor ,EditeTime ,IsDel ,Status,follwUpUserRole,CustomerRank ,ProjectID) 
			SELECT NEWID() ID, CustomerID, CustomerMobile, CustomerName, ID OpportunityID, #{UserID} FollwUpUserID, dbo.F_GetSaleUserName(#{UserID}) FollwUpUserName, dbo.F_GetSaleMobile(#{UserID}) FollwUpUserMobile, '69331990-DBF4-0A2F-80CD-7BC424AA8912' FollwUpType, 'F0942939-A90E-4915-81D7-7752919B0F72' FollwUpWay, '重新分配' FollowUpContent, NULL NextFollowUpDate, '9CEA46E8-A3ED-409E-646C-F38A5EAC383E' IntentionLevel, #{OrgID} OrgID, #{UserID} Creator, GETDATE() CreateTime, NULL Editor, NULL EditeTime, 0 IsDel, 1 Status,#{JobID} follwUpUserRole,CustomerRank ,ProjectID 
			FROM dbo.B_Opportunity WHERE ID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '')
		]]>
	</insert>
	<update id="updBOpportunity_Adviser" parameterType="java.util.Map">
		<![CDATA[
			UPDATE B_Opportunity 
			SET isdel = 0, SaleUserID = #{SaleUserID}, SaleUserName = dbo.F_GetSaleUserName(#{SaleUserID}), Editor = #{UserID}, EditeTime = GETDATE(), AllotUserID = #{UserID}, AllotTime = GETDATE(), FollowupCount = ISNULL(FollowupCount, 0) + 1, TheLatestFollowUpDate = GETDATE(), CustomerLevel = '9CEA46E8-A3ED-409E-646C-F38A5EAC383E', TheLatestFollowUpWay = 'F0942939-A90E-4915-81D7-7752919B0F72', TheLatestFollowUpContent = '重新分配' 
			WHERE id IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '');
		]]>
	</update>
	<insert id="insBCustomerTrack_Adviser" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO dbo.B_CustomerTrack 
			SELECT NEWID() ID, CustomerID, CustomerMobile, CustomerName, ID OpportunityID, GETDATE() TrackTime, #{UserID} TrackUserID, dbo.F_GetSaleUserName(#{UserID}) TrackUserName, dbo.F_GetSaleMobile(#{UserID}) TrackUserMobile, 'F578C63F-4DB7-A7D2-9155-1C602853BFB0' TrackType, NULL OrgID, #{UserID} Creator, GETDATE() CreateTime, NULL Editor, NULL EditeTime, 0 IsDel, 1 Status 
			FROM dbo.B_Opportunity 
			WHERE ID IN( SELECT name FROM F_StrToTable( #{OpportunityID}) WHERE name <> '');
	    ]]>
	</insert>
	<update id="updBCustomerPublicPool_Adviser" parameterType="java.util.Map">
		<![CDATA[
			UPDATE B_CustomerPublicPool 
			SET IsDel = 1, Editor = #{UserID}, EditeTime = GETDATE() 
			WHERE OpportunityID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '');
		]]>
	</update>
	<insert id="insSMessage_Adviser" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO S_Message( ID, ProjectID, BizID, BizType, Subject, Content, Sender, SendTime, MessageType, Receiver, IsRead, IsPush, IsNeedPush, Creator, CreateTime, IsDel, Status) 
			SELECT NEWID(), ProjectID, ID, 'Opportunity', '分配待跟进', dbo.F_GetSaleUserName(#{UserID}) + '经理已分配' + CustomerName + '、' + CustomerMobile, #{UserID}, GETDATE(), '55B04B9F-CA2F-4115-AA93-57E64048425F', #{SaleUserID}, 0, 0, 1, #{UserID}, GETDATE(), 0, 1 
			FROM dbo.B_Opportunity WHERE ID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '');
	    ]]>
	</insert>
	<insert id="insSTask" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO dbo.S_Task( ID, TaskType, TaskPara, StartTime, CreateTime) 
			SELECT NEWID() ID, 'SyncOpportunity' TaskType, name TaskPara, GETDATE() StartTime, GETDATE() CreateTime 
			FROM F_StrToTable(#{OpportunityID}) WHERE name <> '';
	    ]]>
	</insert>
	<!-- 重新分配end -->
	<update id="mCustomerYXJLSalePartnerSetNull_Update" parameterType="java.util.Map" >
		<![CDATA[
			UPDATE  dbo.B_Opportunity 
			SET     SalePartnerID = NULL ,
			        SalePartnerName = NULL ,
			        ReVisitAddress = NULL , 
			        EditeTime = GETDATE() ,
			        Editor = #{UserID}
			WHERE   ID IN ( SELECT    name
			                  FROM      F_StrToTable(#{OpportunityID})
			                  WHERE     name <> '' ) 
	    ]]>
	</update>
	<!-- 获取SalesUser列表信息 -->
	<select id="mCustomerYXJLAdviserList_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			SELECT ProjectID,	
			SaleUserID,
			SaleUserName,
			SaleUserMobil,
			#{SiteUrl}+HeadImg HeadImg,
			GroupID,
			SaleGroupName,
			DayTotalCount,
			CustomerTotalCount,
			FollowTotalCount,
			IsDel,
			Status,
			CreateTime
			From  V_CustomerYXJLAdviserList_Select  
			Where isdel =0 and  ProjectID =#{ProjectID}   ${WHERE} ${ORDER}
		]]>
	</select>
	<!-- 获取CustomerPublicPool列表信息 -->
	<select id="mCustomerYXJLList_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			SELECT RecoveryID, 
			OpportunityID, 
			CustomerID, 
			CustomerName, 
			CustomerMobile, 
			OpportunitySource, 
			CustomerLevel, 
			FollowupCount, 
			TheLatestFollowUpDate, 
			AdviserID, 
			AdviserMobile, 
			AdviserName, 
			AdviserOrgName, 
			OpportunityStatus, 
			IsYJ, 
			YJTime 
			FROM V_CustomerYXJLList_Select 
			WHERE ProjectID=#{ProjectID} ${WHERE} ${ORDER}
		]]>
	</select>
	<!-- 激活start -->
	<update id="updBOpportunity_Active" parameterType="java.util.Map">
		<![CDATA[
			UPDATE B_Opportunity 
			SET IsDel = 1, Editor = #{UserID}, EditeTime = GETDATE() 
			WHERE Status = 6 AND ID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '')
		]]>
	</update>
	<insert id="insBOpportunity_Active" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO B_Opportunity(Id, ProjectID, ClueID, CustomerID, CustomerName, LastName, FirstName, CustomerMobile, SaleUserID, SaleUserName, TheFirstVisitDate, CustomerLevel, OpportunitySource, IntentProjectID, IntentProjectName, CognitiveChannel, CognitiveChannelSub, Commercial, OrgID, Creator, CreateTime, PropertyIntention, TheLatestFollowUpDate, FollowupCount, AllotUserID, AllotTime, IsCustomerFirstEdit, CustomerFirstEditTime, Status) 
			SELECT B.name2 Id, ProjectID, NULL ClueID, CustomerID, CustomerName, LastName, FirstName, CustomerMobile, #{SaleUserID} SaleUserID, dbo.F_GetSaleUserName(#{SaleUserID}) SaleUserName, TheFirstVisitDate, CustomerLevel, OpportunitySource, IntentProjectID, IntentProjectName, CognitiveChannel, CognitiveChannelSub, Commercial, OrgID, #{UserID} Creator, GETDATE() CreateTime, PropertyIntention, NULL TheLatestFollowUpDate, 0 FollowupCount, #{UserID} AllotUserID, GETDATE() AllotTime, IsCustomerFirstEdit, CustomerFirstEditTime, 2 Status 
			FROM dbo.B_Opportunity A 
			JOIN( SELECT name, name2 FROM F_StrToTable2(#{OpportunityID}, #{OpportunityIDNew}) WHERE name <> '') B 
			ON A.ID = B.name
	    ]]>
	</insert>
	<select id="callPOpportunityCustomerRank_Active" statementType="CALLABLE">
		<![CDATA[
		{call P_OpportunityCustomerRank(#{OpportunityID}, #{CustomerID}, '41FA0234-F8AE-434F-8BCD-6E9BE1D059DA', #{UserID}, 1)}
		]]>
	</select>
	<insert id="insBCustomerTrack_Active" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO dbo.B_CustomerTrack 
			SELECT NEWID() ID, CustomerID, CustomerMobile, CustomerName, B.name2 OpportunityID, GETDATE() TrackTime, #{SaleUserID} TrackUserID, dbo.F_GetSaleUserName(#{SaleUserID}) TrackUserName, dbo.F_GetSaleMobile(#{SaleUserID}) TrackUserMobile, 'BC2F967F-8FFE-1F52-49F6-CBCDFE8D044A' TrackType, NULL OrgID, #{UserID} Creator, GETDATE() CreateTime, NULL Editor, NULL EditeTime, 0 IsDel, 1 Status 
			FROM dbo.B_Opportunity A 
			JOIN( SELECT name, name2 FROM F_StrToTable2(#{OpportunityID}, #{OpportunityIDNew}) WHERE name <> '') B 
			ON A.ID = B.name
	    ]]>
	</insert>
	<insert id="insBOpportunityCustomerRel_Active" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO B_OpportunityCustomerRel( ID, CustomerID, OpportunityID, IsMain, OrgID, Creator, CreateTime, IsDel, Status) 
			SELECT NEWID(), CustomerID, B.name2, 1, #{OrgID}, #{UserID}, GETDATE(), 0, 1 
			FROM dbo.B_Opportunity A 
			JOIN( SELECT name, name2 FROM F_StrToTable2(#{OpportunityID}, #{OpportunityIDNew}) WHERE name <> '') B 
			ON A.ID = B.name
	    ]]>
	</insert>
	<insert id="insSMessage_Active" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO S_Message( ID, ProjectID, BizID, BizType, Subject, Content, Sender, SendTime, MessageType, Receiver, IsRead, IsPush, IsNeedPush, Creator, CreateTime, IsDel, Status) 
			SELECT NEWID(), #{ProjectID}, B.name2, 'Opportunity', '分配待跟进', dbo.F_GetSaleUserName(#{UserID}) + '经理已分配' + CustomerName + '、' + CustomerMobile, #{UserID}, GETDATE(), '55B04B9F-CA2F-4115-AA93-57E64048425F', #{SaleUserID}, 0, 0, 1, #{UserID}, GETDATE(), 0, 1 
			FROM dbo.B_Opportunity A 
			JOIN( SELECT name, name2 FROM F_StrToTable2(#{OpportunityID}, #{OpportunityIDNew}) WHERE name <> '') B 
			ON A.ID = B.name
	    ]]>
	</insert>
	<!-- 激活end -->
	<!-- 回收start -->
	<update id="updBOpportunityGiveUp_Recovery" parameterType="java.util.Map">
		<![CDATA[
			UPDATE dbo.B_OpportunityGiveUp 
			SET ApprovalStatus = 3, EditeTime = GETDATE(), Editor = #{UserID} 
			WHERE OpportunityID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '') AND Status = 1 AND ApprovalStatus = 0
		]]>
	</update>
	<update id="updMessByOpportunity_Recovery" parameterType="java.util.Map">
		<![CDATA[
			UPDATE S_Message 
			SET Status = 0, Editor = #{UserID}, EditTime = GETDATE() 
			WHERE Status = 1 AND BizType = 'Opportunity' 
			AND BizID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '')
		]]>
	</update>
	<update id="updMessByOpportunityGiveUp_Recovery" parameterType="java.util.Map">
		<![CDATA[
			UPDATE S_Message 
			SET Status = 0, Editor = #{UserID}, EditTime = GETDATE() 
			WHERE Status = 1 AND BizType = 'OpportunityGiveUp' 
			AND BizID IN( SELECT ID FROM dbo.B_OpportunityGiveUp WHERE OpportunityID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> ''))
		]]>
	</update>
	<insert id="insBCustomerTrack_Recovery" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO dbo.B_CustomerTrack 
			SELECT NEWID() ID, CustomerID, CustomerMobile, CustomerName, ID OpportunityID, GETDATE() TrackTime, #{UserID} TrackUserID, dbo.F_GetSaleUserName(#{UserID}) TrackUserName, dbo.F_GetSaleMobile(#{UserID}) TrackUserMobile, '6069FA06-8ED6-4B26-9CFD-7A71552ACBE5' TrackType, NULL OrgID, #{UserID} Creator, GETDATE() CreateTime, NULL Editor, NULL EditeTime, 0 IsDel, 1 Status 
			FROM dbo.B_Opportunity 
			WHERE ID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '')
	    ]]>
	</insert>
	<insert id="insBCustomerPublicPool_Recovery" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO B_CustomerPublicPool( ID, ClueID, OpportunityID, CustomerID, Name, Mobile, CustomerLevel, Reason, TheFirstVisitDate, SaleUserID, SaleUserName, SaleTeamID, SaleTeamName, Creator, CreateTime) 
			SELECT NEWID() ID, a.ClueID, a.ID OpportunityID, a.CustomerID, a.CustomerName, a.CustomerMobile, a.CustomerLevel, dbo.F_GetSaleUserName(#{UserID}) + '经理回收' , a.TheFirstVisitDate, a.SaleUserID, a.SaleUserName, c.id AS SaleTeamID, c.name AS SaleTeamName, #{UserID}, GETDATE() 
			FROM B_Opportunity a 
			INNER JOIN B_SalesGroupMember b 
			ON a.SaleUserID = b.MemberID 
			AND b.ProjectID = a.ProjectID 
			AND b.IsDel = 0 AND b.Status = 1 
			INNER JOIN B_SalesGroup c ON b.ReceptionGroupID = c.ID AND c.IsDel = 0 AND c.Status = 1 
			WHERE a.ID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '')
	    ]]>
	</insert>
	<insert id="insSMessage_Recovery" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO S_Message( ID, ProjectID, BizID, BizType, Subject, Content, Sender, SendTime, MessageType, Receiver, IsRead, IsPush, IsNeedPush, Creator, CreateTime, IsDel, Status) 
			SELECT NEWID(), ProjectID, ID, 'Opportunity', '客户回收', dbo.F_GetSaleUserName(#{UserID}) + '经理已回收' + CustomerName + '、' + CustomerMobile, #{UserID}, GETDATE(), '76D9C77E-CD2D-CB4C-4DBC-8F19CDAFE607', SaleUserID, 0, 0, 1, #{UserID}, GETDATE(), 0, 1 
			FROM dbo.B_Opportunity WHERE SaleUserID IS NOT NULL AND ID IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '')
			
	    ]]>
	</insert>
	<update id="updBOpportunity_Recovery" parameterType="java.util.Map" >
		<![CDATA[
			UPDATE B_Opportunity 
			SET SaleUserID = '', SaleUserName = '', Editor = #{UserID}, EditeTime = GETDATE(), AllotUserID = #{UserID}, AllotTime = GETDATE() 
			WHERE id IN( SELECT name FROM F_StrToTable(#{OpportunityID}) WHERE name <> '');
	    ]]>
	</update>
	<!-- 回收-end -->
	<select id="mCustomerXSJLList_Select_GJKH" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			SELECT  LostID ,
				LostReason ,
				LostTime ,
				RecoveryID ,
				OpportunityID ,
				CustomerID ,
				CustomerName ,
				CustomerMobile ,
				dbo.F_DictName(OpportunitySource) AS OpportunitySource ,
				dbo.F_DictName(CustomerLevelValue) AS CustomerLevel ,
				CONVERT(VARCHAR, FollowupCountValue) + '次' AS FollowupCount ,
				CASE WHEN TheLatestFollowUpDateTime IS NULL THEN '无'
					 ELSE dbo.F_FormatDateTimeForCountBefore(TheLatestFollowUpDateTime, GETDATE(), '前')
				END AS TheLatestFollowUpDate ,
				AdviserID ,
				dbo.F_GetSaleMobile(AdviserID) AdviserMobile ,
				dbo.F_GetSaleUserName(AdviserID) AdviserName ,
				AdviserOrgID ,
				dbo.F_GetSaleGroupName(AdviserID, ProjectID) AS AdviserOrgName ,
				dbo.F_GetStatusName_xkc(OpportunityStatusValue) OpportunityStatus ,
				IsYJ ,
				YJTime ,
				IsCooperat
			FROM    ( SELECT    * ,
							ROW_NUMBER() OVER ( ${ORDER} ) num
				  FROM      ( SELECT    o.ProjectID ,
										o.ID OpportunityID ,
										o.CustomerID ,
										o.CustomerName ,
										o.CustomerMobile ,
										o.OpportunitySource ,
										o.CustomerLevel CustomerLevelValue ,
										o.FollowupCount FollowupCountValue ,
										ISNULL(o.TheLatestFollowUpDate, '') TheLatestFollowUpDateTime ,
										o.SaleUserID AdviserID ,
										dbo.F_GetSaleGroupID(o.SaleUserID, o.ProjectID) AdviserOrgID ,
										o.Status OpportunityStatusValue ,
										'' RecoveryCreateTime ,
										'' RecoveryID ,
										'' LostID ,
										'' LostReason ,
										'' LostTime ,
										'' LostCreateTime ,
										0 IsYJ ,
										'' YJTime ,
		            (CASE WHEN ISNULL(o.SalePartnerID,'') != '' THEN 1 ELSE 0 END) IsCooperat
							  FROM      dbo.B_Opportunity AS o
							  WHERE     o.ProjectID = #{ProjectID}
										AND o.IsDel = 0
										AND o.Status <> 6
		            AND LEN(o.SaleUserID) > 0
							) A
				  WHERE     ProjectID = #{ProjectID}  ${WHERE}
				) t
			WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
				AND t.num <= ${PageIndex} * ${PageSize}
		]]>
	</select>
	<select id="mCustomerXSJLList_Select_GJKH_count" parameterType="java.util.Map" resultType="java.lang.Integer">
		<![CDATA[
		SELECT  COUNT(1) recordCount
		FROM ( SELECT    * , ROW_NUMBER() OVER ( ${ORDER} ) num
				FROM ( SELECT    o.ProjectID ,
							o.ID OpportunityID ,
							o.CustomerID ,
							o.CustomerName ,
							o.CustomerMobile ,
							o.OpportunitySource ,
							o.CustomerLevel CustomerLevelValue ,
							o.FollowupCount FollowupCountValue ,
							ISNULL(o.TheLatestFollowUpDate, '') TheLatestFollowUpDateTime ,
							o.SaleUserID AdviserID ,
							dbo.F_GetSaleGroupID(o.SaleUserID, o.ProjectID) AdviserOrgID ,
							o.Status OpportunityStatusValue ,
							'' RecoveryCreateTime ,
							'' RecoveryID ,
							'' LostID ,
							'' LostReason ,
							'' LostTime ,
							'' LostCreateTime ,
							0 IsYJ ,
							'' YJTime ,
		            (CASE WHEN ISNULL(o.SalePartnerID,'') != '' THEN 1 ELSE 0 END) IsCooperat
							  FROM      dbo.B_Opportunity AS o
							  WHERE     o.ProjectID = #{ProjectID}
										AND o.IsDel = 0
										AND o.Status <> 6
		            AND LEN(o.SaleUserID) > 0
							) A
				  WHERE     ProjectID = #{ProjectID}  ${WHERE}
				) t
		]]>
	</select>
	<select id="mCustomerXSJLList_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			SELECT  *
	        FROM    ( SELECT    LostID ,
	                            LostReason ,
	                            LostTime ,
	                            RecoveryID ,
	                            OpportunityID ,
	                            CustomerID ,
	                            CustomerName ,
	                            CustomerMobile ,
	                            OpportunitySource ,
	                            CustomerLevel ,
	                            FollowupCount ,
	                            TheLatestFollowUpDate ,
	                            AdviserID ,
	                            AdviserMobile ,
	                            AdviserName ,
	                            AdviserOrgName ,
	                            OpportunityStatus ,
	                            IsYJ ,
	                            YJTime ,
	                            ROW_NUMBER() OVER (  ${ORDER} ) num
	                  FROM      V_CustomerXSJLList_Select
	                  WHERE     ProjectID = #{ProjectID} ${WHERE}
	                ) t
	        WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
	                AND t.num <= ${PageIndex} * ${PageSize};
		]]>
	</select>
	
	<select id="mCustomerXSJLList_Select_count" parameterType="java.util.Map" resultType="java.lang.Integer">
		<![CDATA[
			SELECT  COUNT(1) recordCount
	        FROM    V_CustomerXSJLList_Select
	        WHERE   ProjectID = #{ProjectID}  ${WHERE}
		]]>
	</select>
	<!-- 客户丢失销售顾问start -->
	<update id="updBOpportunityGiveUp" parameterType="java.util.Map" >
		<![CDATA[
			UPDATE  B_OpportunityGiveUp  
			set Approver=#{UserID}, ApprovalStatus =#{ApproveState}, ApprovalDate=GETDATE(), Editor=#{UserID},EditeTime=getdate()  
			where  ID  In (Select name FROM F_StrToTable(#{LostID}) Where name <>'')  and ApprovalStatus=0;
	    ]]>
	</update>
	<update id="updSMessage" parameterType="java.util.Map" >
		<![CDATA[
			UPDATE S_Message 
			SET IsApprove = 1, Editor = #{UserID}, EditTime = GETDATE() 
			WHERE BizType = 'OpportunityGiveUp' AND ISNULL(IsApprove,0) = 0 
			AND BizID IN (Select name FROM F_StrToTable(#{LostID}) Where name <>'');
	    ]]>
	</update>
	<insert id="insSMessage" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO S_Message( ID, ProjectID, BizID, BizType, Subject, Content, Sender, SendTime, MessageType, Receiver, IsRead, IsPush, IsNeedPush, Creator, CreateTime, IsDel, Status) 
    		SELECT  NEWID(), #{ProjectID}, ID, 'OpportunityGiveUp', '客户丢失通知',dbo.F_GetSaleUserName(#{UserID})+'经理已驳回'+CustomerName+'丢失审批', #{UserID}, GETDATE(), 'DD81CE6E-C855-F065-DAA2-7D0C80310088', Creator, 0, 0,1, #{UserID}, GETDATE(), 0, 1 
    		FROM  dbo.B_OpportunityGiveUp WHERE ID IN (SELECT name FROM F_StrToTable(#{LostID})  Where name <>'');
	    ]]>
	</insert>
	<update id="updBOpportunity_Pass" parameterType="java.util.Map" >
		<![CDATA[
			PDATE B_Opportunity 
			SET Status = 6 
			WHERE ID IN( SELECT OpportunityID FROM dbo.B_OpportunityGiveUp WHERE ID IN( SELECT name FROM F_StrToTable(#{LostID}) WHERE name <> ''));
	    ]]>
	</update>
	<update id="updSMessage_Pass" parameterType="java.util.Map" >
		<![CDATA[
			UPDATE S_Message 
			SET IsApprove = 1, Editor = #{UserID}, EditTime = GETDATE() 
			WHERE BizType = 'Opportunity' AND ISNULL(IsApprove,0) = 0 
			AND BizID IN( SELECT OpportunityID FROM dbo.B_OpportunityGiveUp WHERE ID IN( SELECT name FROM F_StrToTable(#{LostID}) WHERE name <> ''));

	    ]]>
	</update>
	<insert id="insSMessage_Pass1" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO S_Message( ID, ProjectID, BizID, BizType, Subject, Content, Sender, SendTime, MessageType, Receiver, IsRead, IsPush, IsNeedPush, Creator, CreateTime, IsDel, Status) 
			SELECT NEWID(), #{ProjectID}, ID, 'OpportunityGiveUp', '客户丢失通知', dbo.F_GetSaleUserName(#{UserID}) + '经理已通过' + CustomerName + '丢失审批', #{UserID}, GETDATE(), 'DD81CE6E-C855-F065-DAA2-7D0C80310088', Creator, 0, 0, 1, #{UserID}, GETDATE(), 0, 1 
			FROM dbo.B_OpportunityGiveUp WHERE ID IN( SELECT name FROM F_StrToTable(#{LostID}) WHERE name <> '' );
	    ]]>
	</insert>
	<insert id="insSMessage_Pass2" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO S_Message( ID, ProjectID, BizID, BizType, Subject, Content, Sender, SendTime, MessageType, Receiver, IsRead, IsPush, IsNeedPush, Creator, CreateTime, IsDel, Status) 
			SELECT NEWID(), #{ProjectID}, l.LostID, 'OpportunityGiveUp', '客户丢失通知', c.Name + '(' + c.Mobile + ') 已丢失', #{UserID}, GETDATE(), 'DD81CE6E-C855-F065-DAA2-7D0C80310088', c.ReportUserID, 0, 0, 1, #{UserID}, GETDATE(), 0, 1 
			FROM dbo.B_Opportunity o INNER JOIN dbo.B_Clue c ON o.ClueID = c.ID 
			INNER JOIN( SELECT OpportunityID, ID LostID FROM dbo.B_OpportunityGiveUp WHERE ID IN( SELECT name FROM F_StrToTable(#{LostID}) WHERE name <> '' ) ) l ON l.OpportunityID = o.ID 
			WHERE c.ReportUserID <> '' AND c.ReportUserID IS NOT NULL;
	    ]]>
	</insert>
	<update id="updBClue_Pass1" parameterType="java.util.Map" >
		<![CDATA[
			UPDATE dbo.B_Clue 
			SET Status = 3,InvalidType = 10,InvalidTime=GETDATE(),InvalidReason='跟进丢失' 
			WHERE ID IN( SELECT ClueID FROM dbo.B_Opportunity o WHERE o.ID IN( SELECT OpportunityID FROM dbo.B_OpportunityGiveUp WHERE ID IN( SELECT name FROM F_StrToTable(#{LostID}) WHERE name <> '')));
	    ]]>
	</update>
	<insert id="insBCustomerTrack_Pass" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO B_CustomerTrack 
			SELECT NewID() ID, B.CustomerID, B.CustomerMobile, B.CustomerName, B.OpportunityID, getdate() TrackTime, A.ID TrackUserID, A.Name TrackUserName, A.TelPhone TrackUserMobile, '9956D7FB-6870-5C32-9243-FEC4D5268075' TrackType, A.OrgID, A.ID Creator, getdate() CreateTime, A.ID Editor, getdate() EditeTime, 0 IsDel, 1 Status 
			FROM( SELECT #{UserID} UserID, K.OpportunityID, P.CustomerID, P.CustomerName, P.CustomerMobile FROM B_OpportunityGiveUp K JOIN B_Opportunity P ON K.OpportunityID = P.ID WHERE K.ID IN( SELECT name FROM F_StrToTable(#{LostID}) WHERE name <> '' ) ) B JOIN V_SalesGroupUser A ON A.ID = B.UserID WHERE A.ID = #{UserID} AND ProjectID = #{ProjectID};
	    ]]>
	</insert>
	<update id="updBClue_Pass2" parameterType="java.util.Map" >
		<![CDATA[
			UPDATE B_Clue 
			SET Status = 3 
			WHERE ID IN( SELECT P.ClueID FROM B_OpportunityGiveUp K JOIN B_Opportunity P ON K.OpportunityID = P.ID WHERE K.ID IN( SELECT name FROM F_StrToTable(#{LostID}) WHERE name <> '') AND P.ClueID <> '' AND P.ClueID IS NOT NULL);
	    ]]>
	</update>
	<insert id="insSTask_Pass" parameterType="java.util.Map" >
		<![CDATA[
			INSERT INTO dbo.S_Task( ID, TaskType, TaskPara, StartTime, CreateTime) 
			SELECT NEWID() ID, 'SyncOpportunity' TaskType, OpportunityID TaskPara, GETDATE() StartTime, GETDATE() CreateTime 
			FROM dbo.B_OpportunityGiveUp WHERE ID IN( SELECT name FROM F_StrToTable(#{LostID}) WHERE name <> '');
	    ]]>
	</insert>
	<!-- 客户丢失销售顾问end -->
	
	
	
</mapper>
