<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.customer.STrade2CstMapper">

    <select id="searchJointName" resultType="java.util.Map">
        <![CDATA[
		SELECT * FROM (
        SELECT DISTINCT
        t.CstGUID,
        cus.CstName,
        t.xsOppGuid,
        s.RoomGUID,
        p.RoomCode,
        s.QSDate,
		t.IsMainLinkMan
        FROM
        MY.dotnet_erp25.dbo.s_Trade2Cst t
        LEFT JOIN MY.dotnet_erp25.dbo.s_Order s ON t.TradeGUID = s.TradeGUID
        LEFT JOIN MY.dotnet_erp25.dbo.p_Room p ON s.RoomGUID = p.RoomGUID
        LEFT JOIN MY.dotnet_erp25.dbo.p_Customer cus ON t.CstGUID = cus.CstGUID
        WHERE
        t.TradeGUID IN (SELECT sT2C.TradeGUID FROM MY.dotnet_erp25.dbo.s_Trade2Cst sT2C WHERE sT2C.CstNum>1)
        AND s.QSDate BETWEEN #{startTime} AND #{endTime}
        AND t.xsOppGuid IS NOT NULL
        AND (s.Status = '激活' OR (s.Status='关闭' AND s.CloseReason='转签约'))
        ) T
        ORDER BY T.RoomGUID
        ]]>
	</select>

    <select id="searchShortDeal" resultType="java.util.Map">
	<![CDATA[
        SELECT
            A.xsOppGuid,
            A.QSDate AS ContractTime,
            B.QSDate AS SubscribeTime
        FROM
            MY.dotnet_erp25.dbo.s_Contract A
        INNER JOIN MY.dotnet_erp25.dbo.s_Order B ON A.TradeGUID = B.TradeGUID
        WHERE
            A.Status = '激活'
        AND A.xsOppGuid IS NOT NULL
        AND A.QSDate BETWEEN #{ startTime } AND #{ endTime }
	]]>
	</select>

	<select id="agreement" resultType="java.util.Map">
	<![CDATA[
        SELECT
			Aa.CloseReason,
			Bb.CstName,
			Bb.CardID,
			Cc.Room,
			Cc.RoomCode,
			Aa.Status,
			Aa.BldArea,
			Aa.QSDate AS ContractTime,
            D.QSDate AS SubscribeTime,
            Aa.HtTotal
		FROM
			MY.dotnet_erp25.dbo.s_Contract Aa
		INNER JOIN MY.dotnet_erp25.dbo.p_Customer Bb ON Aa.CstGUID = Bb.CstGUID
		INNER JOIN MY.dotnet_erp25.dbo.p_Room Cc ON Aa.RoomGUID = Cc.RoomGUID
		INNER JOIN MY.dotnet_erp25.dbo.s_Order D ON Aa.TradeGUID = D.TradeGUID
		WHERE
			Aa.xsOppGuid = #{attachId}
			AND Aa.Status = '激活'
	]]>
	</select>

	<select id="subscribe" resultType="java.util.Map">
	<![CDATA[
        SELECT
			A.CloseReason,
			B.CstName,
			B.CardID,
			Cc.Room,
			Cc.RoomCode,
			A.Status,
			A.OrderType,
			A.BldArea,
			A.QSDate,
			A.CjTotal
		FROM
			MY.dotnet_erp25.dbo.s_Trade D
		INNER JOIN MY.dotnet_erp25.dbo.s_Order A ON D.TradeGUID = A.TradeGUID
		INNER JOIN MY.dotnet_erp25.dbo.p_Customer B ON A.CstGUID = B.CstGUID
		INNER JOIN MY.dotnet_erp25.dbo.p_Room Cc ON A.RoomGUID = Cc.RoomGUID
		WHERE
			D.OppGUID = #{attachId}
		AND (
			A.Status = '激活'
			OR (
				A.Status = '关闭'
				OR A.CloseReason = '转签约'
			)
		)
	]]>
	</select>
</mapper>