<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.risk.BCustomerattachMapper">

    <select id="fkJointName" parameterType="java.lang.String" resultType="java.util.Map">
    select
    opp.ID,
    opp.ProjectID,
    opp.ClueID,
    project.Name,
    opp.CustomerName,
    opp.CustomerMobile,
    opp.Status as CustomerStatus,
    dbo.F_GetClueStatusName_xkc(clue.Status,opp.Status) as CustomerStatusName,
    clue.ReportUserID,
    clue.ReportUserName,
    clue.AdviserGroupID,
    dict.DictName as AdviserGroupName,
    clue.CreateTime as ReportTime,
    opp.TheFirstVisitDate,
    opp.SaleUserID,
    opp.SaleUserName,
    city.ID as CityId,
    city.OrgName as CityName,
    area.ID as RegionalId,
    area.OrgName as RegionalName,
    clueRule.IsPreIntercept,
    clueRule.PreInterceptTime,
    opp.CreateTime,
    clue.ReportUserOrg as OrgId,
    opp.OpportunitySource
    from B_CustomerAttach attach
    inner join B_Opportunity opp on attach.OpportunityID = opp.ID
    inner join B_Clue clue on opp.ClueID = clue.ID
    inner join B_Project project on opp.ProjectID = project.ID
    inner join S_Dictionary dict on clue.AdviserGroupID = dict.ID
    inner join S_Organization city on project.BUGUID = city.ID
    inner join S_Organization area on area.ID = city.PID
    inner join B_ClueRule clueRule on clueRule.ID = clue.RuleID
    where
    attach.ID = #{id}
    </select>
</mapper>
