<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.risk.BCustomermobilesearchMapper">

<!--    @Param("projectID") String projectID, @Param("mobile") String mobile, @Param("createTime") Date createTime-->
    <select id="fkSearchMobileInfo" parameterType="java.util.Date" resultType="java.util.Map">
        --查出来数据后， 去置业顾问搜电话表里查询，是否有置业顾问搜索时间在前，但是被渠道报备了的数据
        --遍历报备的客户数据， 去搜索电话表里判断
        --可能搜到有多条数据，可能是
        SELECT
            search.*
        FROM
            dbo.B_CustomerMobileSearch search
        WHERE
            search.ProjectID=#{projectID} AND
            search.Mobile=#{mobile} AND
            search.JobCode='GW' AND
            search.CreateTime !> #{createTime}
	</select>

</mapper>
