<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.risk.STrade2CstMapper">

<!--    List<Map<String, Object>> searchJointName(@Param("startTime") Date startTime, @Param("endTime") Date endTime);-->
    <select id="searchJointName" parameterType="java.util.Date" resultType="java.util.Map">
        SELECT * FROM (
        SELECT DISTINCT
        t.CstGUID,
        c.CstName,
        t.xsOppGuid,
        s.RoomGUID,
        p.RoomCode,
        s.QSDate
        FROM
        s_Trade2Cst t
        LEFT JOIN s_Order s ON t.TradeGUID = s.TradeGUID
        LEFT JOIN p_Room p ON s.RoomGUID = p.RoomGUID
        LEFT JOIN p_Customer c ON t.CstGUID = c.CstGUID
        WHERE
        t.cstnum > 1
        AND s.QSDate BETWEEN #{startTime} AND #{endTime}
        AND t.xsOppGuid IS NOT NULL
        AND s.Status = '激活'
        ) T
        ORDER BY T.RoomGUID
	</select>

    <select id="searchShortDeal" parameterType="java.util.Date" resultType="java.util.Map">
        SELECT
            A.xsOppGuid,
            A.QSDate AS ContractTime,
            B.QSDate AS SubscribeTime
        FROM
            dbo.s_Contract A
        INNER JOIN dbo.s_Order B ON A.TradeGUID = B.TradeGUID
        WHERE
            A.Status = '激活'
        AND A.QSDate BETWEEN #{ startTime }AND #{ endTime }
        AND A.xsOppGuid IS NOT NULL
	</select>


</mapper>
