<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.house.BDiscountMapper">
	<!-- 获取列表带分页(默认) -->
	<select id="Discount_List_Select" parameterType="string" resultType="java.util.Map">
		<![CDATA[
     		select *From B_Discount where 1=1  and  isdel=0 ${Parameter}  
    	]]>
	</select>
</mapper>
