<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.quit.BQuituserMapper">
        <select id="QuitUserOwnTeamList_Select" parameterType="java.util.Map" resultType="java.util.Map">
            <![CDATA[
            SELECT T.*,
            (CASE WHEN SMobile IS NULL OR SMobile='' THEN TelPhone ELSE SMobile END) Mobile,
            (SELECT COUNT(1) FROM Clue_List_Select WHERE ReportUserID=T.UserID AND IntentProjectID=T.ProjectID) CustomerCount
            FROM (
            SELECT ROW_NUMBER() OVER (ORDER BY QU.CreateTime DESC ) ID1516,
            QU.ID,QU.UserID,QU.ProjectID,QU.TeamID,SG.Name AS TeamName,A.EmployeeName AS Name,SU.TelPhone,A.Mobile AS SMobile,A.UserName,A.Status,
            (CASE WHEN QU.IsDispose=1 THEN '是' ELSE '否' END) IsDispose,
            (CASE A.Status WHEN 0 THEN '禁用' WHEN 1 THEN '启用' ELSE '未知' END) StatusName,
            QU.CreateTime,QU.EditeTime
            FROM dbo.B_QuitUser QU
            LEFT JOIN dbo.S_Account A ON QU.UserID=A.ID
            LEFT JOIN dbo.B_SalesUser SU ON QU.UserID=SU.ID
            LEFT JOIN dbo.B_SalesGroup SG ON QU.TeamID=SG.ID
            WHERE QU.UserType=1 AND QU.Status=1 AND QU.IsDel=0
            {sqlWhere}
            ) T WHERE 1=1
            ]]>
        </select>

    <select id="QuitUserSalesTeamList_Select" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
            SELECT T.*,
            (CASE WHEN SMobile IS NULL OR SMobile='' THEN TelPhone ELSE SMobile END) Mobile,
            (SELECT COUNT(1) FROM dbo.B_Opportunity O
            LEFT JOIN dbo.B_Clue C ON O.ClueID=C.ID
            WHERE O.ProjectID=T.ProjectID AND O.SaleUserID=T.UserID) CustomerCount
            FROM (
            SELECT ROW_NUMBER() OVER (ORDER BY QU.CreateTime DESC ) ID1516,
            QU.ID,QU.UserID,QU.ProjectID,QU.TeamID,SG.Name AS TeamName,A.EmployeeName AS Name,SU.TelPhone,A.Mobile AS SMobile,A.UserName,A.Status,
            (CASE WHEN QU.IsDispose=1 THEN '是' ELSE '否' END) IsDispose,
            (CASE A.Status WHEN 0 THEN '禁用' WHEN 1 THEN '启用' ELSE '未知' END) StatusName,
            QU.CreateTime,QU.EditeTime
            FROM dbo.B_QuitUser QU
            LEFT JOIN dbo.S_Account A ON QU.UserID=A.ID
            LEFT JOIN dbo.B_SalesUser SU ON QU.UserID=SU.ID
            LEFT JOIN dbo.B_SalesGroup SG ON QU.TeamID=SG.ID
            WHERE QU.UserType=2 AND QU.Status=1 AND QU.IsDel=0
            {sqlWhere}
            ) T WHERE 1=1
        ]]>
    </select>

    <select id="QuitUserChannelList_Select" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
            SELECT T.*,
            (SELECT COUNT(1) FROM Clue_List_Select WHERE ReportUserID=UserID) CustomerCount
            FROM (
            SELECT ROW_NUMBER() OVER (ORDER BY QU.CreateTime DESC ) ID1516,
            QU.ID,QU.UserID,CU.Name,CU.Mobile,CU.UserName,CU.ChannelOrgID,CO.OrgName,CU.Status,
            (CASE WHEN QU.IsDispose=1 THEN '是' ELSE '否' END) IsDispose,
            (CASE CU.Status WHEN 0 THEN '禁用' WHEN 1 THEN '启用' ELSE '未知' END) StatusName,
            QU.CreateTime,QU.EditeTime
            FROM dbo.B_QuitUser QU
            INNER JOIN dbo.B_ChannelUser CU ON QU.UserID=CU.ID AND CU.ChannelTypeID='32C92DA0-DA13-4C21-A55E-A1D16955882C'
            INNER JOIN dbo.B_ChannelOrg CO ON CU.ChannelOrgID=CO.ID
            WHERE QU.UserType=3 AND QU.IsDel=0 AND QU.Status=1
            {sqlWhere}
            ) T WHERE 1=1
        ]]>
    </select>
</mapper>
