<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.dict.SDictionaryMapper">

    <select id="AgenCertificatesList_SelectN" resultType="java.util.HashMap">
        select ID,DictName from [S_Dictionary] where PID='848EBE45-2C03-40C5-AE91-EC72533539BD' and IsDel=0 and [Status]=1 order by ListIndex
    </select>

    <select id="ListByCode_Select" resultType="java.util.HashMap" parameterType="string">
        SELECT
        *
        FROM
        (
        SELECT
        A.ID,
        A.PID,
        A.DictCode,
        B.DictCode PDictCode,
        A.DictName,
        A.DictType,
        A.Levels,
        A.ListIndex,
        A.Ext4
        FROM
        [S_Dictionary] A
        INNER JOIN S_Dictionary B ON B.IsDel = 0
        AND B.Status = 1
        AND B.ID = A.PID
        AND ( B.DictCode = '-1' ${DictCodes} )
        WHERE
        A.IsDel = 0
        AND A.Status = 1 UNION ALL
        SELECT
        C.ID,
        C.PID,
        C.DictCode,
        A.DictCode PDictCode,
        C.DictName,
        C.DictType,
        C.Levels,
        C.ListIndex,
        A.Ext4
        FROM
        [S_Dictionary] A
        INNER JOIN S_Dictionary B ON B.IsDel = 0
        AND B.Status = 1
        AND B.ID = A.PID
        AND ( B.DictCode = '-1' ${DictCodes} )
        INNER JOIN S_Dictionary C ON C.IsDel = 0
        AND C.Status = 1
        AND A.ID = C.PID
        WHERE
        A.IsDel = 0
        AND A.Status = 1
        ) T
        ORDER BY
        Levels,
        DictCode,
        ListIndex
    </select>

    <select id="list" parameterType="string" resultType="java.util.HashMap">
        SELECT * FROM S_Dictionary WHERE PID=#{pid} AND Status=1 AND IsDel=0 ORDER BY ListIndex
    </select>

    <select id="getMediaLargeList" resultType="java.util.HashMap" >
        SELECT ID,Name FROM B_MediaLarge WHERE Status=1 AND IsDel=0 ORDER BY ListIndex
    </select>

    <select id="getMediaChildList" resultType="java.util.HashMap" parameterType="string">
        SELECT ID,Name,MediaLargeID FROM B_MediaChild WHERE ProjectID=#{projectID} AND MediaLargeID=#{pid} ORDER BY ListIndex
    </select>
</mapper>
