<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.sys.BMedialargeMapper">


    <select id="getMediaLargeList" resultType="java.util.HashMap" >
        SELECT * FROM B_MediaLarge WHERE  IsDel=0 ORDER BY ListIndex
    </select>

    <select id="getMediaChildList" resultType="java.util.HashMap" parameterType="string">
        SELECT * FROM B_MediaChild WHERE ProjectID=#{projectID}   AND IsDel=0 ORDER BY ListIndex
    </select>
</mapper>
