<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.sys.BSystemadMapper">

	<select id="SystemAD_Detail_Find" parameterType="java.util.Map" resultType="com.tahoecn.xkc.model.sys.BSystemad">
		select top 1 * From B_SystemAD where IsDel= 0 and Status = 1 and ADType= #{ADType} 
	</select>
	 <!-- 插入新的广告数据 -->
	<insert id="SystemAD_Insert" parameterType="java.util.Map" >
		INSERT INTO dbo.B_SystemAD(
				ID,
				PicturePath,
				PictureURL,
				Title,
				ShareContent,
				ADType,
				SortNo,
				Creator,
				CreateTime,
				Editor,
				EditTime,
				IsDel,
				Status
				)
		VALUES (
				#{ID},
				#{PicturePath},
				#{PictureURL},
				#{Title},
				#{ShareContent},
				2,
				1,
				1,
				'2010-01-01 00:00:00',
				1,
				'2010-01-01 00:00:00',
				0,
				1
				)
	</insert>
	<!-- 修改原有的广告数据 -->
	<update id="SystemAD_Update" parameterType="java.util.Map" >
		UPDATE dbo.B_SystemAD 
		SET IsDel = 1
		WHERE ADType=2 AND IsDel=0 AND Status=1;
	</update>
</mapper>
