<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.sys.SCommonjobsMapper">

  <select id="SystemCommonJobsList_Select" parameterType="java.util.Map" resultType="com.tahoecn.xkc.model.sys.SCommonjobs">
      SELECT  [ID] ,
              [JobName] ,
              [JobDesc] ,
              [Status]
      FROM    [S_CommonJobs]
       WHERE  IsDel = 0 
		<if test="AuthCompanyID != null and AuthCompanyID != ''">
			and AuthCompanyID =#{AuthCompanyID}
		</if>
		<if test="ProductID != null and ProductID != ''">
			and ProductID = #{ProductID}
		</if>
		<if test="JobName != null and JobName != ''">
			AND JobName LIKE  '%'+ #{JobName} +'%'
		</if>		
      ORDER BY JobName 
  </select>
  
    <select id="SystemCommonJobsList_SelectList" resultType="com.tahoecn.xkc.model.sys.SCommonjobs">
      SELECT  [ID] ,
              [JobName] ,
              [JobDesc] ,
              [Status]
      FROM    [S_CommonJobs]
        WHERE  IsDel = 0
        ORDER BY JobName
  </select>
  
  	<select  id="SystemCommonJobNameIsExists_Select" parameterType="java.util.HashMap" resultType="String">
      SELECT COUNT(1) AS A FROM dbo.S_CommonJobs 
       WHERE  IsDel = 0 
		<if test="AuthCompanyID != null and AuthCompanyID != ''">
			and AuthCompanyID =#{AuthCompanyID}
		</if>
		<if test="ProductID != null and ProductID != ''">
			and ProductID = #{ProductID}
		</if>
		<if test="JobName != null and JobName != ''">
			and JobName = #{JobName}
		</if>		
	</select>
	
	<update id="SystemCommonJobStatus_Update" parameterType="java.util.HashMap">
		UPDATE S_CommonJobs SET [Status] = #{Status}
		WHERE ID = #{ID}
	</update>
	
	<update id="SystemCommonJob_Delete" parameterType="java.util.HashMap">
	     UPDATE S_CommonJobs SET IsDel = 1 WHERE ID = #{ID}
	</update>
	
	<insert id="SystemCommonJob_Insert" parameterType="java.util.HashMap" >
		      INSERT INTO dbo.S_CommonJobs 
	            ( ID ,
	              JobCode ,
	              JobName ,
	              JobDesc ,
	              AuthCompanyID ,
	              ProductID ,
	              Creator ,
	              CreateTime ,
	              Editor ,
	              EditTime ,
	              [Status] ,
	              IsDel
	            )
	    VALUES  ( 
	    		  #{id}, 
	              #{jobCode}, 
	              #{jobName}, 
	              #{jobDesc}, 
	              #{authCompanyID}, 
	              #{productID}, 
	              #{creator}, 
	              GETDATE() , 
	              NULL ,
	              NULL ,
	              #{status}, 
	              0  
	            )	
	</insert>
	
	<update id="SystemCommonJob_Update" parameterType="java.util.HashMap">
		  UPDATE dbo.S_CommonJobs 
      SET 
          JobCode =  #{JobCode},
          JobName = #{JobName},
          JobDesc = #{JobDesc},
          Editor = #{Editor},
          EditTime = GETDATE(),
          Status = #{Status}
      WHERE ID = #{ID}
	</update>



	
</mapper>
