<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.sys.SystemMessageMapper">
	<!-- 未读消息数 -->
    <select id="UnreadCountListByMessageType_Select" resultType="com.tahoecn.xkc.model.vo.UnreadCountVo">
    	SELECT
			T.MessageType,
			COUNT(1) MessageCount,
			(
				SELECT
					stuff(
						(
							SELECT DISTINCT
								TOP 5 ',' + CustomerName
							FROM
								(
									SELECT
										MessageType,
										CASE BizType
									WHEN 'Opportunity' THEN
										B.CustomerName
									WHEN 'Clue' THEN
										C.Name
									WHEN 'OpportunityGiveUp' THEN
										D.CustomerName
									WHEN NULL THEN
										''
									ELSE
										''
									END CustomerName
									FROM
										S_Message A WITH(NOLOCK)
									LEFT JOIN B_Opportunity B WITH(NOLOCK) ON A.BizID = B.ID
									AND A.BizType = 'Opportunity'
									LEFT JOIN B_Clue C WITH(NOLOCK) ON A.BizID = C.ID
									AND A.BizType = 'Clue'
									LEFT JOIN B_OpportunityGiveUp D WITH(NOLOCK) ON A.BizID = D.ID
									AND A.BizType = 'OpportunityGiveUp'
									WHERE
										A.IsDel = 0
									AND A.Status = 1
		              AND ISNULL(A.IsRead,0) = (CASE WHEN A.MessageType IN ('12D36558-A8A1-20D4-58E5-612338026AE7') AND ISNULL(A.IsRead,0) = 1 THEN 1 ELSE 0 END)
		              AND ISNULL(A.IsApprove,0) = 0
									AND A.MessageType = T.MessageType
									AND A.Receiver = T.Receiver
									AND A.ProjectID = T.ProjectID
								) TP
							WHERE
								TP.CustomerName IS NOT NULL FOR XML PATH('')
						),
						1,
						1,
						''
					)
			) Content
		FROM
			S_Message T WITH(NOLOCK)
		WHERE
			T.IsDel = 0
		AND T.Status = 1
		AND ISNULL(T.IsRead,0) = (CASE WHEN T.MessageType IN ('12D36558-A8A1-20D4-58E5-612338026AE7') AND ISNULL(T.IsRead,0) = 1 THEN 1 ELSE 0 END)
		AND ISNULL(T.IsApprove,0) = 0
		AND T.ProjectID = #{ProjectID}
		and t.MessageType not in ('487F2C39-779D-097B-455B-799AC0B3CBB4','12D36558-A8A1-20D4-58E5-612338026AE7','B5CB4E80-B0D2-959A-7FFB-1C391FF9AD9E','BE78B012-2536-DFDC-0D20-A5A86DD3470F','0F9709DD-A8FC-6106-99FC-688E10C760B1')
		${sqlWhere}
		GROUP BY
			ProjectID,MessageType,Receiver
    </select>
    
    <!-- 消息列表-普通消息  -->
    <select id="SystemMessageListByMessageType_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
    	SELECT  *
		FROM    ( SELECT    A.ID ,
		                    A.[Content] ,
		                    dbo.F_FormatDate(A.SendTime) SendTime ,
		                    ISNULL(A.IsRead, 0) IsRead ,
		                    D.DictName MessageTypeName ,
		                    ROW_NUMBER() OVER ( ORDER BY A.SendTime DESC ) num
		          FROM      S_Message A WITH(NOLOCK)
		                    LEFT JOIN S_Dictionary D WITH(NOLOCK) ON A.MessageType = D.ID
		          WHERE     A.Receiver = #{UserID}
		                    AND A.ProjectID = #{ProjectID}
		                    AND A.IsDel = 0
		                    AND A.Status = 1 
							${sqlWhere} 
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 消息列表-普通消息-总数  -->
    <select id="SystemMessageListByMessageType_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
		SELECT  COUNT(1) recordCount
		FROM    S_Message A WITH(NOLOCK)
		        LEFT JOIN S_Dictionary D WITH(NOLOCK) ON A.MessageType = D.ID
		WHERE   A.Receiver = #{UserID}
		        AND A.ProjectID = #{ProjectID}
		        AND A.IsDel = 0
		        AND A.Status = 1 
				${sqlWhere} 
		]]>		        
    </select>
    <!-- 更新消息信息 -->
    <update id="updMessage" parameterType="java.util.Map">
    	UPDATE A SET IsRead = 1, ReadTime = getdate(), IsApprove = 1 from S_Message A
	    WHERE Receiver = #{UserID} AND ProjectID = #{ProjectID} 
	    AND IsDel = 0 AND Status = 1 AND ISNULL(IsRead, 0) = 0 ${sqlWhere}
    </update>
    <!-- 消息列表-渠道任务消息  -->
    <select id="ListByMessageTypeChannelTask_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
		SELECT  *
		FROM    ( SELECT    A.ID ,
		                    A.[Content] ,
		                    dbo.F_FormatDate(A.SendTime) SendTime ,
		                    ISNULL(A.IsRead, 0) IsRead ,
		                    D.DictName MessageTypeName ,
		                    ROW_NUMBER() OVER ( ORDER BY A.SendTime DESC ) num
		          FROM      S_Message A WITH(NOLOCK)
		                    LEFT JOIN S_Dictionary D WITH(NOLOCK) ON A.MessageType = D.ID
		          WHERE     A.Receiver = #{UserID}
		                    AND A.ProjectID = #{ProjectID}
		                    AND A.IsDel = 0
		                    AND A.Status = 1 
							${sqlWhere}
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 消息列表-渠道任务消息-总数  -->
    <select id="ListByMessageTypeChannelTask_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
		SELECT  COUNT(1) recordCount
		  FROM      S_Message A WITH(NOLOCK)
		            LEFT JOIN S_Dictionary D WITH(NOLOCK) ON A.MessageType = D.ID
		  WHERE     A.Receiver = #{UserID}
		            AND A.ProjectID = #{ProjectID}
		            AND A.IsDel = 0
		            AND A.Status = 1 
					${sqlWhere}
		]]>		        
    </select>
    <!-- 消息列表-机会消息-自渠  -->
    <select id="SystemMessageListByMessageTypeOpportunityZQ_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
		SELECT  *
		FROM    ( SELECT    A.ID ,
		                    A.Content ,
		                    dbo.F_FormatDate(A.SendTime) SendTime ,
		                    A.OpportunityID ,
		                    A.CustomerPotentialID CustomerID ,
		                    A.CustomerName ,
		                    A.CustomerMobile ,
		                    A.CreateTime ,
		                    A.AllocTime ,
		                    A.IsAlloc ,
		                    A.IntentProjectName,
		                    A.ReportUserID ,
		                    A.ReportUserName ,
		                    A.MessageType ,
		                    A.MessageTypeName ,
		                    A.ClueID,
		                    ROW_NUMBER() OVER ( ORDER BY A.SendTime DESC ) num,
		                    A.ClueStatus
		          FROM      V_MessageClue A
		          WHERE     A.ProjectID = #{ProjectID} 
		          			${sqlWhere} 
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
        	AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 消息列表-机会消息-自渠-总数 -->
    <select id="SystemMessageListByMessageTypeOpportunityZQ_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT  COUNT(1) recordCount
			FROM    V_MessageClue A
			WHERE   A.ProjectID = #{ProjectID} ${sqlWhere} 
		]]>		        
    </select>
    <!-- 更新消息信息 -->
    <update id="updMessageZQ" parameterType="java.util.Map">
    	UPDATE A SET IsRead = 1, ReadTime = getdate() from S_Message A
	    WHERE Receiver = #{UserID} AND ProjectID = #{ProjectID} 
	    AND IsDel = 0 AND Status = 1 AND ISNULL(IsRead, 0) = 0 ${sqlWhere}
    </update>
    <!-- 消息列表-丢失消息 -->
    <select id="SystemMessageListByMessageTypeKHDS_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
		SELECT  *
		FROM    ( SELECT    A.ID ,
		                    A.[Content] ,
		                    dbo.F_FormatDate(A.SendTime) SendTime ,
		                    B.OpportunityID ,
		                    C.CustomerID ,
		                    C.CustomerName ,
		                    C.CustomerMobile ,
		                    B.ID LostID ,
		                    dbo.F_FormatDate(B.CreateTime) ApplyDate ,
		                    B.Reason LostCause ,
		                    C.SaleUserID ,
		                    dbo.F_GetSaleUserName(C.SaleUserID) SaleUserName ,
		                    dbo.F_GetSaleMobile(C.SaleUserID) SaleUserMobile ,
		                    ISNULL(A.IsApprove, 0) IsApprove ,
		                    ROW_NUMBER() OVER ( ORDER BY B.EditeTime DESC , A.SendTime DESC ) num
		          FROM      S_Message A WITH(NOLOCK)
		                    INNER JOIN B_OpportunityGiveUp B WITH(NOLOCK) ON A.BizID = B.ID
		                    INNER JOIN B_Opportunity C WITH(NOLOCK) ON B.OpportunityID = C.ID
		          WHERE     A.Receiver = #{UserID}
		                    AND A.ProjectID = #{ProjectID}
		                    AND A.IsDel = 0
		                    AND A.Status = 1 ${sqlWhere} 
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 消息列表-丢失消息-总数 -->
    <select id="SystemMessageListByMessageTypeKHDS_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT  COUNT(1) recordCount
			FROM    S_Message A WITH(NOLOCK)
			        INNER JOIN B_OpportunityGiveUp B WITH(NOLOCK) ON A.BizID = B.ID
			        INNER JOIN B_Opportunity C WITH(NOLOCK) ON B.OpportunityID = C.ID
			WHERE   A.Receiver = #{UserID}
			        AND A.ProjectID = #{ProjectID}
			        AND A.IsDel = 0
			        AND A.Status = 1 ${sqlWhere} 
		]]>		        
    </select>
    <!-- 顾问客户消息列表 -->
    <select id="SystemMessageListByMessageTypeOpportunity_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
    	SELECT  *
		FROM    ( SELECT    A.ID ,
		                    Content ,
		                    dbo.F_FormatDate(SendTime) SendTime ,
		                    OpportunityID ,
		                    CustomerID ,
		                    CustomerName ,
		                    CustomerMobile ,
		                    IntentionLevel ,
		                    CustomerTag ,
		                    dbo.F_FormatDate(A.TheLatestFollowUpDate) TheLatestFollowUpDate ,
		                    A.TheLatestFollowUpContent ,
		                    case OpportunityStatus
								when '询问' then '报备'
								when '看房' then '到访'
								when '认购中' then '到访'
								when '丢失' then '无效'
								else OpportunityStatus end as OpportunityStatus,
		                    OpportunityStatusValue ,
		                    IsCare ,
		                    AdviserID ,
		                    AdviserName ,
		                    AdviserOrgName ,
		                    AdviserMobile ,
		                    A.YJTime ,
		                    A.IsYJ ,
		                    A.MessageType ,
		                    A.MessageTypeName ,
		                    A.IsCustomerFirstEdit ,
		                    ROW_NUMBER() OVER ( ORDER BY A.YJTimeValue , A.EditTime DESC , A.SendTime DESC ) num
		          FROM      V_MessageOpportunity A
		          WHERE     A.Receiver = #{UserID}
		                    AND A.ProjectID = #{ProjectID} 
		                    ${sqlWhere}    
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 顾问客户消息列表-总数 -->
    <select id="SystemMessageListByMessageTypeOpportunity_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT  COUNT(1) recordCount
			FROM    V_MessageOpportunity A
			WHERE   A.Receiver = #{UserID}
			        AND A.ProjectID = #{ProjectID} 
					${sqlWhere} 
		]]>		        
    </select>
    <!-- 拓客客户消息列表 -->
    <select id="SystemMessageListByMessageTypeClue_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
    	SELECT  *
		FROM    ( SELECT    ID ,
		                    Content ,
		                    dbo.F_FormatDate(SendTime) SendTime ,
		                    ProjectID ,
		                    Receiver ,
		                    MessageType ,
		                    OpportunityID ,
		                    ClueID ,
		                    CustomerPotentialID ,
		                    CustomerName ,
		                    CustomerMobile ,
		                    CreateTime ,
		                    ClueStatus ,
		                    SaleUserID ,
		                    SaleUserName ,
		                    IsAlloc ,
		                    dbo.F_DictName(CustomerLevel) IntentionLevel ,
		                    dbo.F_DictName(ISNULL(CustomerRank, '41FA0234-F8AE-434F-8BCD-6E9BE1D059DA')) AS CustomerRank ,
		                    ROW_NUMBER() OVER ( ORDER BY A.EditTime DESC , A.SendTime DESC ) num
		          FROM      V_MessageClue A
		          WHERE     A.ProjectID = #{ProjectID} 
		          			${sqlWhere}  
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 拓客客户消息列表-总数 -->
    <select id="SystemMessageListByMessageTypeClue_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT  COUNT(1) recordCount
			FROM    V_MessageClue A
			WHERE   A.ProjectID = #{ProjectID}
					${sqlWhere} 
		]]>		        
    </select>
    <!-- 该项目是否有分享项目信息 -->
    <select id="IsExistsShareProject" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT COUNT(1) Counts FROM dbo.A_ShareProject 
			WHERE ProjectID = #{ProjectID} AND IsDel = 0 AND Status = 1
		]]>		        
    </select>
    <!-- 消息详情 -->
    <select id="SystemMessageDetail_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
			SELECT A.*,
				CASE
				WHEN A.BizType = 'Opportunity' THEN ISNULL(B.SaleUserID, A.Sender)
				WHEN A.BizType = 'Clue' THEN ISNULL(C.ReportUserID, A.Sender)
				ELSE
					A.Sender
				END CBReceiver
			FROM
				S_Message A WITH(NOLOCK)
			LEFT JOIN B_Opportunity B WITH(NOLOCK) ON A.BizID = B.ID
			AND A.BizType = 'Opportunity'
			LEFT JOIN B_Clue C ON A.BizID = C.ID
			AND A.BizType = 'Clue'
			WHERE
				A.IsDel = 0
			AND A.Status = 1
			AND A.ID = #{MessageID}
		]]>
    </select>
    <!-- 消息添加 -->
    <insert id="SystemMessageDetail_Insert" parameterType="java.util.Map">
    INSERT INTO S_Message( ID, ProjectID, BizID, BizType, Subject, Content, Sender, SendTime, MessageType, Receiver, IsRead, IsPush, IsNeedPush, Creator, CreateTime, IsDel, Status)
    VALUES( NEWID(), #{ProjectID}, #{BizID}, #{BizType}, #{Subject}, #{Content}, #{Sender}, GETDATE(), #{MessageType}, #{Receiver}, 0, 0, #{IsNeedPush}, #{Creator}, GETDATE(), 0, 1)
    </insert>
    <!-- 设消息为已读 -->
    <update id="SystemMessageReadDetail_Update" parameterType="java.util.Map">
	    UPDATE  S_Message
		SET     IsRead = 1 ,
		        IsApprove=1,
		        Editor = #{UserID} ,
		        EditTime = GETDATE()
		WHERE   ID = #{MessageID}
    </update>


    <select id="mMessageAllList_Select" resultType="java.util.HashMap" parameterType="string">
        <![CDATA[
SELECT A.ID, A.[Content], dbo.F_FormatDate(A.SendTime) SendTime, A.IsRead, D.DictName MessageTypeName FROM S_Message A LEFT JOIN S_Dictionary D ON A.MessageType = D.ID WHERE A.Receiver = #{UserID} AND A.IsDel = 0 AND A.Status = 1  ORDER BY A.SendTime DESC
     ]]>
    </select>
    <update id="mMessageAllList_Updata">
        UPDATE S_Message
        SET IsRead = 1,
        ReadTime = getdate(),
        IsApprove = 1
        WHERE
        ID=#{ID}
    </update>
    
    <update id="SystemMessageDetailByHandle_Update">
    	<![CDATA[
		UPDATE S_Message SET IsApprove = 1, Editor = '99', EditTime = GETDATE() ${SetStatus} WHERE BizType = #{BizType} AND ISNULL(IsApprove,0) = 0 ${Where}
	    ]]>
    </update>
    <!-- 设置动态消息已读 -->
    <update id="mMessageDynamicReadList_Update" parameterType="java.util.Map">
    	<![CDATA[
			UPDATE  S_Message
			SET     IsRead = 1 ,
			        IsApprove=1,
			        Editor = #{UserID} ,
			        EditTime = GETDATE()
			WHERE   Receiver = #{UserID}
					AND ProjectID =#{ProjectID}
			    AND MessageType = '4936AA45-FDC0-4E86-B8EC-AD4A74E77322'
					AND SendTime <= GETDATE()
	    ]]>
    </update>

	<!-- 今日待跟进列表 -->
    <select id="ListDRDGJ_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
    	SELECT  *
		FROM    ( SELECT DISTINCT
					o.ID as ID,
					'' as Content,
					dbo.F_FormatDate(o.AllotTime) SendTime,
					o.ID OpportunityID,
					o.CustomerID,
					o.CustomerName,
					o.CustomerMobile,
					dbo.F_DictName (o.CustomerLevel) IntentionLevel,
					dbo.F_GetSaleCustomerTag ( o.CustomerID, o.SaleUserID ) CustomerTag,
					dbo.F_FormatDate(o.TheLatestFollowUpDate) TheLatestFollowUpDate,
					o.TheLatestFollowUpContent,
					dbo.F_GetStatusName_xkc ( o.Status ) OpportunityStatus,
					ISNULL( o.Status, 0 ) OpportunityStatusValue,
					dbo.F_GetSaleIsCare ( o.ID, o.SaleUserID ) IsCare,
					o.SaleUserID AdviserID,
					o.SaleUserName AdviserName,
					dbo.F_GetSaleGroupName ( o.SaleUserID, o.ProjectID ) AdviserOrgName,
					dbo.F_GetSaleMobile ( o.SaleUserID ) AdviserMobile,
					'' YJTime,
					'0' IsYJ,
					'487F2C39-779D-097B-455B-799AC0B3CBB4' MessageType,
					dbo.F_DictName ('487F2C39-779D-097B-455B-799AC0B3CBB4') MessageTypeName,
					o.IsCustomerFirstEdit,
					ROW_NUMBER() OVER ( ORDER BY o.AllotTime DESC ) num
					FROM
					(
						SELECT a.OpportunityID OpportunityID,
							MAX ( CONVERT ( VARCHAR ( 10 ), a.NextFollowUpDate, 120 ) ) MaxFollowUpDate 
						FROM B_CustomerFollowUp a
						WHERE
							a.FollwUpUserID = #{UserID}
							AND a.ProjectID = #{ProjectID}
						GROUP BY a.OpportunityID 
					) b LEFT JOIN B_Opportunity o ON o.id = b.OpportunityID  
					WHERE CONVERT ( VARCHAR (10), MaxFollowUpDate, 120 ) = #{CurDate}
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 今日待跟进列表-总数 -->
    <select id="ListDRDGJ_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT COUNT(1) recordCount 
			FROM
				(
				SELECT a.OpportunityID OpportunityID,
					MAX(CONVERT(VARCHAR(10), a.NextFollowUpDate, 120)) MaxFollowUpDate 
				FROM B_CustomerFollowUp a 
				WHERE
					CONVERT(VARCHAR(10), a.NextFollowUpDate, 120) = #{CurDate} 
					AND a.FollwUpUserID = #{UserID} 
					AND a.ProjectID = #{ProjectID}
				GROUP BY
					a.OpportunityID 
				) b
			LEFT JOIN B_Opportunity o ON o.id = b.OpportunityID 
		]]>		        
    </select>
	<!-- 当日认购逾期列表 -->
    <select id="ListDRRGYQ_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
    	SELECT  *
		FROM    ( SELECT DISTINCT
					D.BookingGUID as ID,
					'' as Content,
					dbo.F_FormatDate(o.AllotTime) SendTime,
					o.ID OpportunityID,
					o.CustomerID,
					o.CustomerName,
					o.CustomerMobile,
					dbo.F_DictName (o.CustomerLevel) IntentionLevel,
					dbo.F_GetSaleCustomerTag ( o.CustomerID, o.SaleUserID ) CustomerTag,
					dbo.F_FormatDate(o.TheLatestFollowUpDate) TheLatestFollowUpDate,
					o.TheLatestFollowUpContent,
					dbo.F_GetStatusName_xkc ( o.Status ) OpportunityStatus,
					ISNULL( o.Status, 0 ) OpportunityStatusValue,
					dbo.F_GetSaleIsCare ( o.ID, o.SaleUserID ) IsCare,
					o.SaleUserID AdviserID,
					o.SaleUserName AdviserName,
					dbo.F_GetSaleGroupName ( o.SaleUserID, o.ProjectID ) AdviserOrgName,
					dbo.F_GetSaleMobile ( o.SaleUserID ) AdviserMobile,
					'距逾期还有' + dbo.F_FormatDateTimeForCount(GETDATE(), D.BgnDate) YJTime,
					'1' IsYJ,
					'B5CB4E80-B0D2-959A-7FFB-1C391FF9AD9E' MessageType,
					dbo.F_DictName ('B5CB4E80-B0D2-959A-7FFB-1C391FF9AD9E') MessageTypeName,
					o.IsCustomerFirstEdit,
					ROW_NUMBER() OVER ( ORDER BY D.BgnDate  DESC ) num
				FROM
								dbo.B_Opportunity o
								JOIN dbo.B_CustomerAttach B ON o.ID = B.OpportunityID
								JOIN dbo.C_MYTrade C ON B.ID = C.OppGUID
								JOIN C_MYBooking D ON C.TradeGUID = D.TradeGUID
				WHERE
					CONVERT (VARCHAR (10), D.BgnDate , 120) = #{CurDate} 
					AND o.Status in ('1','2','3')
					AND o.SaleUserID = #{UserID} 
					AND o.ProjectID = #{ProjectID}  
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 当日认购逾期列表-总数 -->
    <select id="ListDRRGYQ_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT  COUNT(1) recordCount
			FROM
								dbo.B_Opportunity o
								JOIN dbo.B_CustomerAttach B ON o.ID = B.OpportunityID
								JOIN dbo.C_MYTrade C ON B.ID = C.OppGUID
								JOIN C_MYBooking D ON C.TradeGUID = D.TradeGUID
				WHERE
					CONVERT (VARCHAR (10), D.BgnDate , 120) = #{CurDate} 
					AND o.Status in ('1','2','3')
					AND o.SaleUserID = #{UserID} 
					AND o.ProjectID = #{ProjectID}
		]]>		        
    </select>
	<!-- 当日跟进逾期-销售团队负责人/营销负责人 -->
    <select id="ListDRGJYQOpportunity_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
    	SELECT  *
		FROM    ( SELECT DISTINCT
					o.ID,
					'跟进逾期前' as Content,
					dbo.F_FormatDate(o.AllotTime) SendTime,
					o.ID OpportunityID,
					o.CustomerID,
					o.CustomerName,
					o.CustomerMobile,
					dbo.F_DictName (o.CustomerLevel) IntentionLevel,
					dbo.F_GetSaleCustomerTag ( o.CustomerID, o.SaleUserID ) CustomerTag,
					dbo.F_FormatDate(o.TheLatestFollowUpDate) TheLatestFollowUpDate,
					o.TheLatestFollowUpContent,
					dbo.F_GetStatusName_xkc ( o.Status ) OpportunityStatus,
					ISNULL( o.Status, 0 ) OpportunityStatusValue,
					dbo.F_GetSaleIsCare ( o.ID, o.SaleUserID ) IsCare,
					o.SaleUserID AdviserID,
					o.SaleUserName AdviserName,
					dbo.F_GetSaleGroupName ( o.SaleUserID, o.ProjectID ) AdviserOrgName,
					dbo.F_GetSaleMobile ( o.SaleUserID ) AdviserMobile,
					'距逾期还有' + dbo.F_FormatDateTimeForCount(GETDATE(), DATEADD( d, c.OwnerReleasePeriod, o.TheLatestFollowUpDate )) YJTime,
					'1' IsYJ,
					'12D36558-A8A1-20D4-58E5-612338026AE7' MessageType,
					dbo.F_DictName ('12D36558-A8A1-20D4-58E5-612338026AE7') MessageTypeName,
					o.IsCustomerFirstEdit,
					ROW_NUMBER() OVER ( ORDER BY DATEADD( d, c.OwnerReleasePeriod, o.TheLatestFollowUpDate ) DESC ) num
				FROM
					dbo.B_Opportunity o
					INNER JOIN B_SalesCenterRule c ON c.ProjectID= o.ProjectID 
					AND c.IsDel= 0 
					AND c.Status= 1 
				WHERE
					o.IsDel= 0 
					AND o.Status < 3
					And CONVERT (VARCHAR (10), DATEADD( d, c.OwnerReleasePeriod, o.TheLatestFollowUpDate ) , 120) = #{CurDate} 
					AND o.SaleUserID = #{UserID} 
					AND o.ProjectID = #{ProjectID} 
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 当日跟进逾期-销售团队负责人/营销负责人-总数 -->
    <select id="ListDRGJYQOpportunity_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT  COUNT(1) recordCount
			FROM
					dbo.B_Opportunity o
					INNER JOIN B_SalesCenterRule c ON c.ProjectID= o.ProjectID 
					AND c.IsDel= 0 
					AND c.Status= 1 
				WHERE
					o.IsDel= 0 
					AND o.Status < 3
					And CONVERT (VARCHAR (10), DATEADD( d, c.OwnerReleasePeriod, o.TheLatestFollowUpDate ) , 120) = #{CurDate} 
					AND o.SaleUserID = #{UserID} 
					AND o.ProjectID = #{ProjectID}
		]]>		        
    </select>
	<!-- 当日跟进逾期列表 -->
    <select id="ListDRGJYQClue_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
    	SELECT  *
		FROM    ( SELECT
					a.ID,
					'跟进逾期前' Content,
					dbo.F_FormatDate(o.AllotTime) SendTime,
					o.ProjectID,
					o.SaleUserID Receiver,
					'12D36558-A8A1-20D4-58E5-612338026AE7' MessageType,
					o.ID OpportunityID,
					a.ID ClueID,
					a.CustomerPotentialID CustomerPotentialID,
					a.Name CustomerName,
					a.Mobile CustomerMobile,
					a.CreateTime,
					dbo.F_GetClueStatusName(a.Status, o.Status) ClueStatus,
					o.SaleUserID,
					o.SaleUserName,
					CASE WHEN o.ID IS NULL THEN 0
						ELSE 1
				  END IsAlloc,
					dbo.F_DictName ( a.CustomerLevel ) IntentionLevel,
					dbo.F_DictName ( ISNULL( a.CustomerRank, '41FA0234-F8AE-434F-8BCD-6E9BE1D059DA' ) ) AS CustomerRank,
					ROW_NUMBER ( ) OVER ( ORDER BY DATEADD( d, c.FollowUpOverdueDays, a.TheLatestFollowUpDate ) DESC ) num 
				FROM
					dbo.B_Clue a
					INNER JOIN dbo.B_ClueRule c ON c.ID = a.RuleID 
					AND c.IsDel= 0 
					AND c.Status= 1 
					left join B_Opportunity o on a.ID = o.ClueID
				WHERE
					a.IsDel= 0 
					AND a.Status!= 3
					And CONVERT (VARCHAR (10), DATEADD( d, c.FollowUpOverdueDays, a.TheLatestFollowUpDate ) , 120) = #{CurDate} 
					AND o.ProjectID = #{ProjectID}
					${sqlWhere} 
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 当日跟进逾期-总数 -->
    <select id="ListDRGJYQClue_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT  COUNT(1) recordCount
			FROM
					dbo.B_Clue a
					INNER JOIN dbo.B_ClueRule c ON c.ID = a.RuleID 
					AND c.IsDel= 0 
					AND c.Status= 1 
					left join B_Opportunity o on a.ID = o.ClueID
				WHERE
					a.IsDel= 0 
					AND a.Status!= 3
					And CONVERT (VARCHAR (10), DATEADD( d, c.FollowUpOverdueDays, a.TheLatestFollowUpDate ) , 120) = #{CurDate} 
					AND o.ProjectID = #{ProjectID}
					${sqlWhere} 
		]]>		        
    </select>
	<!-- 当日签约逾期列表 -->
    <select id="ListDRQYYQ_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
    	SELECT  *
		FROM    ( SELECT DISTINCT
					D.OrderGUID AS ID,
					'' AS Content,
					dbo.F_FormatDate ( A.AllotTime ) SendTime,
					A.ID OpportunityID,
					A.CustomerID,
					A.CustomerName,
					A.CustomerMobile,
					dbo.F_DictName ( A.CustomerLevel ) IntentionLevel,
					dbo.F_GetSaleCustomerTag ( A.CustomerID, A.SaleUserID ) CustomerTag,
					dbo.F_FormatDate(A.TheLatestFollowUpDate) TheLatestFollowUpDate,
					A.TheLatestFollowUpContent,
					dbo.F_GetStatusName_xkc ( A.Status ) OpportunityStatus,
					ISNULL( A.Status, 0 ) OpportunityStatusValue,
					dbo.F_GetSaleIsCare ( A.ID, A.SaleUserID ) IsCare,
					A.SaleUserID AdviserID,
					A.SaleUserName AdviserName,
					dbo.F_GetSaleGroupName ( A.SaleUserID, A.ProjectID ) AdviserOrgName,
					dbo.F_GetSaleMobile ( A.SaleUserID ) AdviserMobile,
					'距逾期还有' + dbo.F_FormatDateTimeForCount ( GETDATE( ), D.JhqyDate ) YJTime,
					'1' IsYJ,
					'BE78B012-2536-DFDC-0D20-A5A86DD3470F' MessageType,
					dbo.F_DictName ( 'BE78B012-2536-DFDC-0D20-A5A86DD3470F' ) MessageTypeName,
					A.IsCustomerFirstEdit,
					ROW_NUMBER ( ) OVER ( ORDER BY D.JhqyDate DESC ) num 
				FROM
					dbo.s_order D
					LEFT JOIN dbo.C_MYTrade B ON D.TradeGUID = B.TradeGUID
					LEFT JOIN dbo.B_CustomerAttach C ON C.ID = B.OppGUID
					LEFT JOIN dbo.B_Opportunity A ON C.OpportunityID = A.ID
					JOIN dbo.B_Room E ON E.ID = D.RoomGUID 
				WHERE
					CONVERT ( VARCHAR ( 10 ), D.JhqyDate  , 120 ) = #{ CurDate } 
					AND A.Status IN ( '1', '2', '3', '4' ) 
					AND A.SaleUserID = #{ UserID } 
					AND A.ProjectID = #{ ProjectID }
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 当日签约逾期-总数 -->
    <select id="ListDRQYYQ_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT  COUNT(1) recordCount
			FROM
					dbo.s_order D
					LEFT JOIN dbo.C_MYTrade B ON D.TradeGUID = B.TradeGUID
					LEFT JOIN dbo.B_CustomerAttach C ON C.ID = B.OppGUID
					LEFT JOIN dbo.B_Opportunity A ON C.OpportunityID = A.ID
					JOIN dbo.B_Room E ON E.ID = D.RoomGUID 
				WHERE
					CONVERT ( VARCHAR ( 10 ), D.JhqyDate  , 120 ) = #{ CurDate } 
					AND A.Status IN ( '1', '2', '3', '4' ) 
					AND A.SaleUserID = #{ UserID } 
					AND A.ProjectID = #{ ProjectID }
		]]>		        
    </select>
    <!-- 当日回款逾期列表 -->
    <select id="ListDRHKYQ_Select" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
    	SELECT  *
		FROM    ( SELECT DISTINCT
					B.FeeGUID AS ID,
					'' AS Content,
					dbo.F_FormatDate ( OP.AllotTime ) SendTime,
					OP.ID OpportunityID,
					OP.CustomerID,
					OP.CustomerName,
					OP.CustomerMobile,
					dbo.F_DictName ( OP.CustomerLevel ) IntentionLevel,
					dbo.F_GetSaleCustomerTag ( OP.CustomerID, OP.SaleUserID ) CustomerTag,
					dbo.F_FormatDate(OP.TheLatestFollowUpDate) TheLatestFollowUpDate,
					OP.TheLatestFollowUpContent,
					dbo.F_GetStatusName_xkc ( OP.Status ) OpportunityStatus,
					ISNULL( OP.Status, 0 ) OpportunityStatusValue,
					dbo.F_GetSaleIsCare ( OP.ID, OP.SaleUserID ) IsCare,
					OP.SaleUserID AdviserID,
					OP.SaleUserName AdviserName,
					dbo.F_GetSaleGroupName ( OP.SaleUserID, OP.ProjectID ) AdviserOrgName,
					dbo.F_GetSaleMobile ( OP.SaleUserID ) AdviserMobile,
					'距逾期还有' + dbo.F_FormatDateTimeForCount ( GETDATE( ), B.lastDate ) YJTime,
					'1' IsYJ,
					'0F9709DD-A8FC-6106-99FC-688E10C760B1' MessageType,
					dbo.F_DictName ( '0F9709DD-A8FC-6106-99FC-688E10C760B1' ) MessageTypeName,
					OP.IsCustomerFirstEdit,
					ROW_NUMBER ( ) OVER ( ORDER BY B.lastDate DESC ) num 
				FROM
					dbo.C_MYContract ( NOLOCK ) A
					JOIN s_Fee ( NOLOCK ) B ON B.TradeGUID = A.TradeGUID
					LEFT JOIN dbo.C_MYTrade ( NOLOCK ) TR ON tr.TradeGUID = A.TradeGUID
					LEFT JOIN dbo.B_CustomerAttach ( NOLOCK ) CA ON CA.ID = TR.OppGUID
					LEFT JOIN dbo.B_Opportunity ( NOLOCK ) OP ON CA.OpportunityID = OP.ID 
				WHERE
					CONVERT ( VARCHAR ( 10 ), B.lastDate  , 120 ) = #{ CurDate } 
					AND  B.Ye != 0
					AND OP.SaleUserID = #{ UserID } 
					AND OP.ProjectID = #{ ProjectID }
		        ) t
		WHERE   t.num > ( ${PageIndex} - 1 ) * ${PageSize}
		        AND t.num <= ${PageIndex} * ${PageSize}
		]]>		        
    </select>
    <!-- 当日回款逾期-总数 -->
    <select id="ListDRHKYQ_SelectCount" parameterType="java.util.Map" resultType="int">
    	<![CDATA[
			SELECT  COUNT(1) recordCount
			FROM
					dbo.C_MYContract ( NOLOCK ) A
					JOIN s_Fee ( NOLOCK ) B ON B.TradeGUID = A.TradeGUID
					LEFT JOIN dbo.C_MYTrade ( NOLOCK ) TR ON tr.TradeGUID = A.TradeGUID
					LEFT JOIN dbo.B_CustomerAttach ( NOLOCK ) CA ON CA.ID = TR.OppGUID
					LEFT JOIN dbo.B_Opportunity ( NOLOCK ) OP ON CA.OpportunityID = OP.ID 
				WHERE
					CONVERT ( VARCHAR ( 10 ), B.lastDate  , 120 ) = #{ CurDate } 
					AND  B.Ye != 0
					AND OP.SaleUserID = #{ UserID } 
					AND OP.ProjectID = #{ ProjectID }
		]]>		        
    </select>
    <!-- 今日待跟进 -->
    <select id="DRDGJCalendar" parameterType="java.util.Map" resultType="java.lang.String">
    	<![CDATA[
			SELECT CONVERT(VARCHAR(10), b.NextFollowUpDate, 120) 
			FROM
			(
				SELECT a.OpportunityID OpportunityID,
					MAX(CONVERT(VARCHAR(10), a.NextFollowUpDate, 120)) NextFollowUpDate 
				FROM
					B_CustomerFollowUp a 
				WHERE
					CONVERT(VARCHAR(7), a.NextFollowUpDate, 120) = #{month} 
					AND a.FollwUpUserID = #{UserID} 
					AND a.ProjectID = #{ProjectID}
				GROUP BY
					a.OpportunityID 
				) b
				LEFT JOIN B_Opportunity o ON o.id = b.OpportunityID 
			GROUP BY
				CONVERT ( VARCHAR ( 10 ), b.NextFollowUpDate, 120 ) 
			ORDER BY
				CONVERT ( VARCHAR ( 10 ), b.NextFollowUpDate, 120 )
		]]>		        
    </select>
    <!-- 当日跟进逾期-机会 -->
    <select id="DRGJYQOpportunityCalendar" parameterType="java.util.Map" resultType="java.lang.String">
    	<![CDATA[
			SELECT CONVERT ( VARCHAR (10), DATEADD( d, c.OwnerReleasePeriod, o.TheLatestFollowUpDate ), 120 )
			FROM
				dbo.B_Opportunity o
				INNER JOIN B_SalesCenterRule c ON c.ProjectID= o.ProjectID 
				AND c.IsDel= 0 
				AND c.Status= 1 
			WHERE
				o.IsDel= 0 
				AND o.Status < 3
				And CONVERT (VARCHAR (10), DATEADD( d, c.OwnerReleasePeriod, o.TheLatestFollowUpDate ) , 120) = #{month} 
				AND o.SaleUserID = #{UserID} 
				AND o.ProjectID = #{ProjectID}
			GROUP BY CONVERT ( VARCHAR (10), DATEADD( d, c.OwnerReleasePeriod, o.TheLatestFollowUpDate )  , 120 )
			ORDER BY CONVERT ( VARCHAR (10), DATEADD( d, c.OwnerReleasePeriod, o.TheLatestFollowUpDate ), 120 )
		]]>		        
    </select>
    <!-- 当日跟进逾期-线索 -->
    <select id="DRGJYQClueCalendar" parameterType="java.util.Map" resultType="java.lang.String">
    	<![CDATA[
			SELECT CONVERT ( VARCHAR (10), DATEADD( d, c.FollowUpOverdueDays, a.TheLatestFollowUpDate ), 120 )
			FROM
				dbo.B_Clue a
				INNER JOIN dbo.B_ClueRule c ON c.ID = a.RuleID 
				AND c.IsDel= 0 
				AND c.Status= 1 
				left join B_Opportunity o on a.ID = o.ClueID
			WHERE
				a.IsDel= 0 
				AND a.Status!= 3
				And CONVERT (VARCHAR (7), DATEADD( d, c.FollowUpOverdueDays, a.TheLatestFollowUpDate ) , 120) = #{month} 
				AND o.ProjectID = #{ProjectID}
				${sqlWhere}
				GROUP BY CONVERT ( VARCHAR (10), DATEADD( d, c.FollowUpOverdueDays, a.TheLatestFollowUpDate )  , 120 )
				ORDER BY CONVERT ( VARCHAR (10), DATEADD( d, c.FollowUpOverdueDays, a.TheLatestFollowUpDate ), 120 )
		]]>		        
    </select>
    <!-- 当日认购逾期 -->
    <select id="DRRGYQCalendar" parameterType="java.util.Map" resultType="java.lang.String">
    	<![CDATA[
			SELECT CONVERT ( VARCHAR (10), D.BgnDate, 120 )
			FROM
				dbo.B_Opportunity o
				JOIN dbo.B_CustomerAttach B ON o.ID = B.OpportunityID
				JOIN dbo.C_MYTrade C ON B.ID = C.OppGUID
				JOIN C_MYBooking D ON C.TradeGUID = D.TradeGUID
			WHERE
				CONVERT (VARCHAR (7), D.BgnDate , 120) = #{month} 
				AND o.Status in ('1','2','3')
				AND o.SaleUserID = #{UserID} 
				AND o.ProjectID = #{ProjectID}
				GROUP BY CONVERT ( VARCHAR (10), D.BgnDate  , 120 )
				ORDER BY CONVERT ( VARCHAR (10), D.BgnDate  , 120 )
		]]>		        
    </select>
    <!-- 当日签约逾期 -->
    <select id="DRQYYQCalendar" parameterType="java.util.Map" resultType="java.lang.String">
    	<![CDATA[
			SELECT CONVERT ( VARCHAR (10), D.JhqyDate, 120 )
			FROM
				dbo.s_order D
				LEFT JOIN dbo.C_MYTrade B ON D.TradeGUID = B.TradeGUID
				LEFT JOIN dbo.B_CustomerAttach C ON C.ID = B.OppGUID
				LEFT JOIN dbo.B_Opportunity A ON C.OpportunityID = A.ID
				JOIN dbo.B_Room E ON E.ID = D.RoomGUID 
			WHERE
				CONVERT ( VARCHAR (7), D.JhqyDate  , 120 ) = #{month}
				AND A.Status IN ( '1', '2', '3', '4' ) 
				AND A.SaleUserID = #{ UserID } 
				AND A.ProjectID = #{ ProjectID }
				GROUP BY CONVERT ( VARCHAR (10), D.JhqyDate  , 120 )
				ORDER BY CONVERT ( VARCHAR (10), D.JhqyDate  , 120 )
		]]>		        
    </select>
    <!-- 当日回款逾期 -->
    <select id="DRHKYQCalendar" parameterType="java.util.Map" resultType="java.lang.String">
    	<![CDATA[
			SELECT CONVERT ( VARCHAR (10), B.lastDate, 120 )
			FROM
					dbo.C_MYContract ( NOLOCK ) A
					JOIN s_Fee ( NOLOCK ) B ON B.TradeGUID = A.TradeGUID
					LEFT JOIN dbo.C_MYTrade ( NOLOCK ) TR ON tr.TradeGUID = A.TradeGUID
					LEFT JOIN dbo.B_CustomerAttach ( NOLOCK ) CA ON CA.ID = TR.OppGUID
					LEFT JOIN dbo.B_Opportunity ( NOLOCK ) OP ON CA.OpportunityID = OP.ID 
				WHERE
					CONVERT ( VARCHAR (7), B.lastDate  , 120 ) = #{ month } 
					AND  B.Ye != 0
					AND OP.SaleUserID = #{ UserID } 
					AND OP.ProjectID = #{ ProjectID }
				GROUP BY CONVERT ( VARCHAR (10), B.lastDate  , 120 )
				ORDER BY CONVERT ( VARCHAR (10), B.lastDate  , 120 )
		]]>		        
    </select>
</mapper>
