<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.report.CostomerReportMapper">

    <select id="kfCostomerReportDetail" parameterType="map" resultType="com.tahoecn.xkc.model.reprot.kfCostomerReportDetailVO" databaseId="">
        SELECT
            j.OrgName tjOrgName,
            i.OrgName tjCityName,
            h.Name tjProjectName,
            f.RoomCode tjRoomCode,
            a.*
        FROM
            costomer_report a
            INNER JOIN B_Clue b ON a.CustomerID = b.CustomerPotentialID
            AND a.ReportUserID = b.ReportUserID
            INNER JOIN B_MediaLarge mt ON b.CognitiveChannel = mt.id
            INNER JOIN B_Opportunity c ON b.id = c.ClueID
            INNER JOIN B_CustomerAttach d ON c.id = d.OpportunityID
            INNER JOIN H_C_MYOpportunity e ON d.id = e.OppGUID
            INNER JOIN B_Room f ON e.RoomGUID = f.id
            INNER JOIN B_Project g ON g.id = f.ProjectID
            INNER JOIN B_Project h ON g.pid = h.id
            INNER JOIN S_Organization i ON h.BuGUID = i.id
            INNER JOIN S_Organization j ON i.PID = j.ID
        WHERE mt.Name = '客服微信公众号'
        <if test="null != AreaName and AreaName != ''" >
            AND a.AreaName = #{ AreaName }
        </if>
        <if test="null != CityName and CityName != ''" >
            AND a.CityName = #{ CityName }
        </if>
        <if test="null != IntentProjectName and IntentProjectName != ''" >
            AND a.IntentProjectName = #{ IntentProjectName }
        </if>
        <if test="null != CustomerName and CustomerName != ''" >
            AND a.CustomerName LIKE CONCAT('%', #{ AreaName }, '%')
        </if>
        <if test="null != CustomerMobile and CustomerMobile != ''" >
            AND a.CustomerMobile LIKE CONCAT('%', #{ CustomerMobile }, '%')
        </if>
        <if test="null != SaleUserName and SaleUserName != ''" >
            AND a.SaleUserName LIKE CONCAT('%', #{ SaleUserName }, '%')
        </if>
        <if test="null != OpportunitySource and OpportunitySource != ''" >
            AND a.OpportunitySource = #{ OpportunitySource }
        </if>
        <if test="null != CustomerStatus and CustomerStatus != ''" >
            AND a.CustomerStatus = #{ CustomerStatus }
        </if>
        <if test="null != wholeStatus and wholeStatus != ''" >
            AND a.CustomerStatus != '无效'
        </if>
        <if test="null != CustomerRankName and CustomerRankName != ''" >
            AND a.CustomerRankName = #{ CustomerRankName }
        </if>
        <if test="null != FollwUpWayTxt and FollwUpWayTxt != ''" >
            AND a.FollwUpWayTxt = #{ FollwUpWayTxt }
        </if>
        <if test="null != DaofangCount and DaofangCount != ''" >
            AND a.DaofangCount = #{ DaofangCount }
        </if>
        <if test="null != CreateTime" >
            AND a.CreateTime BETWEEN #{ CreateTime } AND #{ CreateTimeEnd }
        </if>
        <if test="null != ReportTime" >
            AND a.ReportTime BETWEEN #{ ReportTime } AND #{ ReportTimeEnd }
        </if>
        <if test="null != TheFirstVisitDate" >
            AND a.TheFirstVisitDate BETWEEN #{ TheFirstVisitDate } AND #{ TheFirstVisitDateEnd }
        </if>
        <if test="null != Zjdf" >
            AND a.Zjdf BETWEEN #{ Zjdf } AND #{ ZjdfEnd }
        </if>
        <if test="null != TheLatestFollowUpDate" >
            AND a.TheLatestFollowUpDate BETWEEN #{ TheLatestFollowUpDate } AND #{ TheLatestFollowUpDateEnd }
        </if>
        <if test="null != BookingCreateTime" >
            AND a.BookingCreateTime BETWEEN #{ BookingCreateTime } AND #{ BookingCreateTimeEnd }
        </if>
        <if test="null != OrderCreateTime" >
            AND a.OrderCreateTime BETWEEN #{ OrderCreateTime } AND #{ OrderCreateTimeEnd }
        </if>
        <if test="null != YContractCreateTime" >
            AND a.YContractCreateTime BETWEEN #{ YContractCreateTime } AND #{ YContractCreateTimeEnd }
        </if>


    </select>


</mapper>
