<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.SJobsMapper">
    <insert id="userOrgInsert" >
        INSERT INTO dbo.S_Jobs
        ( ID ,
          JobCode ,
          JobName ,
          JobDesc ,
          JobPID ,
          CommonJobID ,
          JobOrgID ,
          AuthCompanyID ,
          ProductID ,
          Creator ,
          CreateTime ,
          Editor ,
          EditTime ,
          Status ,
          IsDel
        )
		SELECT NEWID(),Code,Name+''+(SELECT DictName FROM dbo.S_Dictionary WHERE ID=#{RoleID}),Name+''+(SELECT DictName FROM dbo.S_Dictionary WHERE ID=#{RoleID}),NULL,#{RoleID},id,'17BA4307-D05A-4A57-8729-FC1BD45302B6','9E0FADFF-31F0-4EC5-B35D-EE5BC5F4E622',#{UserID},GETDATE(),NULL,NULL,1,0 FROM dbo.B_Project WHERE id=#{ProjectID}
    </insert>
</mapper>
