<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.clue.ClueListSelectMapper">
    <select id="getCustomerCount" resultType="int">
      SELECT COUNT(1) FROM [dbo].[Clue_List_Select] WHERE IntentProjectID=#{projectId}
      AND ReportUserID=(SELECT MemberID FROM dbo.B_SalesGroupMember WHERE ID=#{memberId})
    </select>
</mapper>
