<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.channel.BChanneltaskMapper">

	<!-- 新建任务 -->
    <select id="mChannelTask_Insert" parameterType="java.util.Map" resultType="String">
		<![CDATA[
		SELECT  MAX(TaskCode) a
		FROM    dbo.B_ChannelTask
	    ]]>
	</select>   
	 
    <insert id="mChannelTask_Insert2" parameterType="java.util.Map">
		<![CDATA[
		INSERT  INTO dbo.B_ChannelTask
		        ( ID ,
		          ProjectID ,
		          Name ,
		          TaskType ,
		          TaskCode ,
		          StartTime ,
		          EndTime ,
		          TaskAreaID ,
		          TaskAreaName ,
		          WorkStartTime ,
		          WorkEndTime ,
		          WorkRange ,
		          CustomerTarget ,
		          Creator ,
		          CreateTime ,
		          IsDel ,
		          Status
		        )
		VALUES  ( #{ChannelTaskID} , 
		          #{ProjectID} , 
		          #{Name} , 
		          #{ChannelTypeID} , 
		          #{TaskCode} , 
		          #{StartTime} , 
		          #{EndTime} , 
		          #{TaskAreaID} , 
		          #{TaskAreaName} ,
		          #{WorkStartTime} , 
		          #{WorkEndTime} , 
		          #{WorkRange} , 
		          #{CustomerTarget} , 
		          #{UserID} , 
		          GETDATE() , 
		          0 , 
		          1  
		        )
	
	    ]]>	    
	</insert>  
	 
    <insert id="mChannelTask_Insert3" parameterType="java.util.Map">
		<![CDATA[
		INSERT  INTO dbo.B_ChannelTask_TaskArea
		        ( ChannelTaskID ,
		          TaskAreaID ,
		          IsDel ,
		          Status
		        )
		VALUES  ( #{ChannelTaskID} , 
		          #{TaskAreaID} , 
		          0 ,
		          1 
		        )
	    ]]>
	</insert>
	    
    <select id="mChannelTask_Insert4" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		SELECT  TaskCode
		FROM    dbo.B_ChannelTask
		WHERE   ID = #{ChannelTaskID}
	    ]]>
	    	    	    
	</select>
	
	<!-- 结束任务 -->
	<delete id="mChannelTaskClose_Update" parameterType="java.util.Map" >
		<![CDATA[
		UPDATE  dbo.B_ChannelTask
		SET     Status = 3 ,
		        Editor = #{UserID} ,
		        EditTime = GETDATE()
		WHERE   ID = #{ChannelTaskID};
		
    	]]>
    </delete>
    
    <delete id="mChannelTaskClose_Update2" parameterType="java.util.Map" >
		<![CDATA[
		UPDATE B_ChannelTask_ChannelUser SET Status = 3 WHERE ChannelTaskID = #{ChannelTaskID};
    	]]>
    </delete>
    <select id="mChannelTaskClose_Update3" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		INSERT INTO S_Message( ID, ProjectID, BizID, BizType, Subject, Content, Sender, SendTime, MessageType, Receiver, IsRead, IsPush, IsNeedPush,IsApprove, Creator, CreateTime, IsDel, Status) 
		SELECT NEWID(),'',#{ChannelTaskID},'ChannelTask','任务提前结束通知','任务:['+b.Name +'] 已被渠道专员提前结束',b.Creator,GETDATE(),'7D7663A7-2867-43D1-89E8-73459A137A1B',a.ChannelUserID,0,0,1,0,'sys',GETDATE(),0,1
		FROM dbo.B_ChannelTask_ChannelUser a
		INNER JOIN dbo.B_ChannelTask b ON a.ChannelTaskID=b.ID AND b.IsDel=0
		WHERE a.ChannelTaskID=#{ChannelTaskID} AND a.IsDel=0;
    	]]>
    </select>
    
    <select id="mChannelTaskIsHaveUndoneZQ_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		SELECT * FROM dbo.B_ChannelTask WHERE ProjectID = #{ProjectID} AND Creator = #{UserID} AND Status = 2
    	]]>
    </select>
    
    <select id="mChannelTaskIsHaveUndoneJZ_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		SELECT * FROM dbo.B_ChannelTask_ChannelUser a
		        INNER JOIN dbo.B_ChannelTask b ON a.ChannelTaskID = b.ID AND b.IsDel = 0 AND b.Status = 2
		WHERE   a.IsDel = 0 AND a.Status = 2 AND ChannelUserID = #{UserID} 
    	]]>
    </select>
    
    <!-- 打卡 -->
	<insert id="mChannelCheckClock_Insert" parameterType="java.util.Map">
        <![CDATA[
	    INSERT  INTO B_CheckClockRecord
		        ( ID ,
		          ChannelTaskID ,
		          CheckDate ,
		          Longitude ,
		          Dimension ,
		          Photo ,
		          DeviceCode ,
		          CheckType ,
		          TaskAreaID ,
		          TaskAreaName ,
		          Creator ,
		          CreateTime ,
		          Editor ,
		          EditTime ,
		          IsDel ,
		          Status
		        )
		VALUES  ( #{ID} ,
		          #{ChannelTaskID} ,
		           CONVERT(VARCHAR(10),GETDATE(),111) ,
		          #{Longitude} ,
		          #{Dimension} ,
		          #{Photo} ,
		          #{DeviceCode} ,
		          #{CheckType} ,
		          #{TaskAreaID} ,
		          #{TaskAreaName} ,
		          #{UserID} ,
		           GETDATE()  ,
		          #{UserID} ,
		           GETDATE() ,
		           0 ,
		           1
		        )
    ]]>
    </insert>

    
	 <!-- 获取当天第一条打卡记录 --> 
    <select id="mChannelCheckClockTopOne_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		SELECT TOP 1 * FROM  dbo.B_CheckClockRecord WHERE  Creator = #{UserID} AND DateDiff(dd,CreateTime,getdate()) = 0 ORDER BY CreateTime
	    ]]>
	</select>
	
	 <!-- 获取当天第一条打卡记录 --> 
	<select id="mChannelCheckClockByDeviceCode_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		SELECT TOP 1 * FROM  dbo.B_CheckClockRecord WHERE  DeviceCode = #{DeviceCode} AND DateDiff(dd,CreateTime,getdate()) = 0 ORDER BY CreateTime
	    ]]>
	</select>
    
    <!-- 分配专员客户 -->
    <!-- 线索更新，分配用户  -->
    <update id="mChannelTempPersonQuitCus_Update" parameterType="java.util.Map">
    <![CDATA[
    	UPDATE dbo.B_Clue SET ChannelUserID = #{NewChannelUserID},ChannelCollaborator = #{UserID},Editor = #{UserID} , EditeTime = GETDATE() WHERE ChannelUserID = #{OldChannelUserID}
     ]]>
    </update>
    <!-- 删除任务 -->
    <update id="mChannelTempPersonQuitCus_Update2" parameterType="java.util.Map">
    <![CDATA[
	    UPDATE B_ChannelTask_ChannelUser
		SET IsDel=1,Status = 3
		WHERE ChannelUserID=#{OldChannelUserID} AND  ChannelTaskID IN (
			SELECT ID FROM dbo.B_ChannelTask WHERE Creator=#{UserID}
		)
	 ]]>
    </update>
    <!-- 删除归属关系 -->
    <update id="mChannelTempPersonQuitCus_Update3" parameterType="java.util.Map">
    <![CDATA[
	    UPDATE dbo.B_ChannelUser
		SET ReportUserID=NULL,ChannelTypeID='CFCEA39C-8882-4546-A79E-C1812CC851C1'
		WHERE ID=#{OldChannelUserID}
	 ]]>
    </update>
    
    <!-- 领取任务 -->
    <select id="mChannelTaskAccept_Insert" parameterType="java.util.Map" resultType="int">
		<![CDATA[
		SELECT COUNT(1) a FROM dbo.B_ChannelTask_ChannelUser WHERE ChannelTaskID=#{ChannelTaskID} AND ChannelUserID=#{UserID}
	    ]]>
	</select>
	<insert id="mChannelTaskAccept_Insert2" parameterType="java.util.Map">
        <![CDATA[
	    INSERT  INTO dbo.B_ChannelTask_ChannelUser
		        ( ChannelTaskID ,
		          ChannelUserID ,
		          ChannelUserName ,
		          ChannelUserMobile ,
		          IsDel ,
		          Status
		        )
		VALUES  ( #{ChannelTaskID} , -- ChannelTaskID - varchar(36)
		          #{UserID} , -- ChannelUserID - varchar(36)
		          dbo.F_GetReportUserName(#{UserID}) , -- ChannelUserName - varchar(50)
		          dbo.F_GetReportUserMobile(#{UserID}) , -- ChannelUserMobile - varchar(50)
		          0 , -- IsDel - tinyint
		          1  -- Status - tinyint
		        )
    ]]>
    </insert>
    <update id="mChannelTaskAccept_Insert3" parameterType="java.util.Map">
    	<![CDATA[
		UPDATE B_ChannelTask_ChannelUser SET IsDel=0,Status = 1 WHERE ChannelTaskID=#{ChannelTaskID} AND ChannelUserID=#{UserID}
		]]>
	</update>
	<!-- 更新兼职归属关系 -->
	<update id="mChannelTaskAccept_Update" parameterType="java.util.Map">
		<![CDATA[
		UPDATE dbo.B_ChannelUser
		SET ChannelTypeID=#{TaskType},ReportUserID=#{ReportUserID}
		WHERE ID=#{UserID};
		]]>
	</update>
	<!-- 领取的任务状态 -->
	<select id="mChannelTaskAccept_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		SELECT Status FROM dbo.B_ChannelTask WHERE ID=#{ChannelTaskID}
		]]>
	</select>
	
	
	<!-- 写入任务结束消息 -->
	<insert id="mChannelLeaderQuit_Insert" parameterType="java.util.Map">
		<![CDATA[
		INSERT INTO S_Message( ID, ProjectID, BizID, BizType, Subject, Content, Sender, SendTime, MessageType, Receiver, IsRead, IsPush, IsNeedPush,IsApprove, Creator, CreateTime, IsDel, Status) 

		SELECT NEWID(),'',a.ChannelTaskID,'ChannelTask','任务提前结束通知','任务:['+b.Name +'] 已被渠道专员提前结束',b.Creator,GETDATE(),'7D7663A7-2867-43D1-89E8-73459A137A1B',a.ChannelUserID,0,0,1,0,'sys',GETDATE(),0,1
		FROM dbo.B_ChannelTask_ChannelUser a
		INNER JOIN dbo.B_ChannelTask b ON a.ChannelTaskID=b.ID AND b.Creator='{OldUserID}' AND b.Status=2 AND b.IsDel=0
		WHERE a.IsDel=0;
	    ]]>
	</insert>
	<!-- 强制结束任务 -->
	<update id="mChannelLeaderQuit_Update" parameterType="java.util.Map">
		<![CDATA[
		UPDATE  dbo.B_ChannelTask
		SET     Status = 3 , Editor = '{UserID}' , EditTime = GETDATE()
		WHERE   ID IN (SELECT ID FROM dbo.B_ChannelTask WHERE Creator='{OldUserID}' AND Status<3 AND Status>0 );  
		]]>
	</update>
	<update id="mChannelLeaderQuit_Update2" parameterType="java.util.Map">
		<![CDATA[
		UPDATE B_ChannelTask_ChannelUser SET  Status = 3 WHERE ChannelTaskID 
		IN (SELECT ID FROM dbo.B_ChannelTask WHERE Creator='{OldUserID}');
		]]> 
	</update>
	<!-- 写入将分配的线索跟进记录 -->
	<insert id="mChannelLeaderQuit_Insert2" parameterType="java.util.Map">
		<![CDATA[
		INSERT INTO dbo.B_CustomerPotentialFollowUp
		( ID ,CustomerPotentialID ,CustomerPotentialMobile ,CustomerPotentialName ,ClueID ,FollwUpUserID ,FollwUpUserName ,
		          FollwUpType ,FollwUpWay ,FollowUpContent ,Creator ,CreateTime ,IsDel ,Status ,FollwUpUserRole ,CustomerRank ,ProjectID)
		
		SELECT NEWID(),a.CustomerPotentialID,a.Mobile,a.Name,a.ID,'{UserID}','{UserDisName}','C1E26493-7D4E-4BFC-9238-725180DFC7AE'
			,'C1E26493-7D4E-4BFC-9238-725180DFC7AE','渠道经理重分配渠道专员','99',GETDATE(),0,1,'B0BF5636-94AD-4814-BB67-9C1873566F29'
			,a.CustomerRank,a.IntentProjectID
		FROM dbo.B_Clue a
		LEFT JOIN dbo.B_Opportunity b ON a.ID=b.ClueID AND b.IsDel=0
		WHERE a.ReportUserID='{OldUserID}' AND a.IntentProjectID='{ProjectID}' AND a.IsDel=0 AND (b.ID IS NULL or b.Status<4);
	    ]]>
	</insert>
	<!-- 分配线索 -->
	<update id="mChannelLeaderQuit_Update3" parameterType="java.util.Map">
		<![CDATA[
		UPDATE a
		SET a.ReportUserID='{NewUserID}', a.ReportUserName = dbo.F_GetSaleUserName('{NewUserID}'),a.ChannelUserID = NULL, ChannelTaskID = NULL, a.Editor = '{UserID}' , a.EditeTime = GETDATE() , a.TheLatestFollowUpDate = GETDATE() 
		FROM dbo.B_Clue a
		LEFT JOIN dbo.B_Opportunity b ON a.ID=b.ClueID AND b.IsDel=0
		WHERE a.ReportUserID='{OldUserID}' AND a.IntentProjectID='{ProjectID}' AND a.IsDel=0 AND (b.ID IS NULL or b.Status<4);

		]]> 
	</update>
	<!-- 分配兼职 -->
	<update id="mChannelLeaderQuit_Update4" parameterType="java.util.Map">
		<![CDATA[
		UPDATE a
		SET a.ReportUserID='{NewUserID}' 
		FROM dbo.B_ChannelUser a
		INNER JOIN dbo.B_ChannelTask_ChannelUser b ON a.ID=b.ChannelUserID AND b.IsDel=0
		INNER JOIN dbo.B_ChannelTask c ON b.ChannelTaskID=c.ID AND c.IsDel=0
		WHERE a.ReportUserID='{OldUserID}' AND c.ProjectID='{ProjectID}' AND a.IsDel=0 AND a.Status=1;
		]]> 
	</update>
	
    <!-- 经理团队列表 -->
    <select id="mChannelLeaderList_Select" resultType="java.util.Map" parameterType="String">
    <![CDATA[
		SELECT b.ID,b.Name,b.TelPhone Mobile,b.HeadImg,ISNULL(d.CustomerCount,0) CustomerCount,dbo.GetPYFirst(b.Name) FirstChar,a.IsDel
		FROM dbo.B_SalesGroupMember a 
		INNER JOIN dbo.B_SalesUser b ON a.MemberID=b.ID AND b.IsDel = 0 AND b.Status=1 
		INNER JOIN B_SalesGroup c ON a.ReceptionGroupID=c.ID AND c.Nature IN(3,4,5,6,7) AND c.Status=1 AND c.IsDel=0 
		INNER JOIN dbo.S_Account ac ON ac.ID=a.MemberID AND ac.IsDel=0 AND ac.Status=1
		LEFT JOIN (
			SELECT ReportUserID,COUNT(1) CustomerCount 
			FROM dbo.B_Clue 
			WHERE IntentProjectID=#{ProjectID} AND IsDel=0
			GROUP BY ReportUserID
		) d ON a.MemberID=d.ReportUserID
		WHERE a.IsDel = 0 AND a.RoleID = '48FC928F-6EB5-4735-BF2B-29B1F591A582' 
		AND a.ProjectID=#{ProjectID} ${sqlWhere}

    ]]>
    </select>
    
    	<!--  是否保存锁房图片到本地 -->
	<update id="CustomerLockRoomClientSaveDetail_Update" parameterType="java.util.Map">
		<![CDATA[
		UPDATE dbo.B_CustomerLockRoom SET IsClientSave=#{IsClientSave},Editor=#{UserID} WHERE 1=1 ${Where}
		]]> 
	</update>
	
	<!-- 经理作战图任务列表 -->
	<select id="mChannelLeaderTaskList_Select" resultType="java.util.Map" parameterType="java.util.Map">
    <![CDATA[
		SELECT  * FROM (
		SELECT  ct.ID ,  
		        ct.Name ,  
		        ct.ProjectID , 
		        ct.TaskType ,
		        dbo.F_DictName(ct.TaskType) TaskTypeName ,
		        ct.TaskCode ,
		        ct.StartTime ,
		        ct.EndTime ,
		        ct.TaskAreaID ,
		        ct.TaskAreaName ,
		        cta.Longitude ,   
		        cta.Dimension ,  
		        ct.WorkStartTime ,
		        ct.WorkEndTime ,
		        ct.WorkRange ,  
		        ct.CustomerTarget ,  
		        ( SELECT    COUNT(1)
		          FROM      dbo.B_Clue b
		          WHERE     b.ChannelTaskID = ct.ID 
		        ) CustomerCount , 
		        ct.Status,              
		        ct.CreateTime,
		        ct.Creator,
		        su.Name UserName ,  
		        su.TelPhone Mobile  
		FROM    dbo.B_ChannelTask ct
		        INNER JOIN dbo.B_SalesUser su ON ct.Creator = su.ID
		        LEFT JOIN dbo.B_ChannelTaskArea cta ON ct.TaskAreaID = cta.ID
		WHERE   ct.IsDel = 0
		        AND ct.Status = 2
		        AND ct.ProjectID = #{ProjectID}
		) n ORDER BY CreateTime DESC
    ]]>
    </select>
    
    <!-- 判断该兼职是否有所属专员 -->
    <select id="mChannelUserByID_Select" parameterType="String" resultType="java.util.Map">
		<![CDATA[
		SELECT * FROM dbo.B_ChannelUser WHERE ID = #{UserID}
	    ]]>
	</select>
	
	<!-- 任务列表查询 -->
    <select id="mChannelTaskList_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		SELECT  *
		FROM    (
		SELECT  a.ID ,
		        a.ProjectID ,
		        a.Name ,
		        a.TaskType ,
		        dbo.F_DictName(a.TaskType) TaskTypeName ,
		        a.TaskCode ,
		        a.StartTime ,
		        a.EndTime ,
		        a.TaskAreaID ,
		        a.TaskAreaName ,
		        c.Longitude ,
		        c.Dimension ,
		        a.WorkStartTime ,
		        a.WorkEndTime ,
		        a.WorkRange ,
		        a.CustomerTarget ,
		        a.Creator,
		        ( SELECT    COUNT(1)
		          FROM      dbo.B_Clue b
		          WHERE     b.ChannelTaskID = a.ID ${JZCode}
		        ) CustomerCount ,
		        a.Status,
		        ROW_NUMBER() OVER ( ORDER BY a.CreateTime DESC ) num
		FROM    dbo.B_ChannelTask a
		        LEFT JOIN dbo.B_ChannelTask_ChannelUser b ON a.ID = b.ChannelTaskID
		        LEFT JOIN dbo.B_ChannelTaskArea c ON c.ID = a.TaskAreaID
		WHERE   a.IsDel = 0 ${whereStr}
		GROUP BY a.ID ,a.ProjectID ,a.Name ,a.TaskType ,a.TaskCode , a.StartTime ,a.EndTime
			 , a.TaskAreaID ,a.TaskAreaName , c.Longitude ,c.Dimension ,a.WorkStartTime ,a.WorkEndTime ,a.WorkRange ,a.CustomerTarget ,a.Creator,a.CreateTime,a.Status
	    ) t
		WHERE   t.num > ( #{PageIndex} - 1 ) * #{PageSize}
		        AND t.num <= #{PageIndex} * #{PageSize};
	    ]]>
	</select>
	<select id="mChannelTaskList_SelectAllCount" parameterType="java.util.Map" resultType="int">
		<![CDATA[
		SELECT  COUNT(1) recordCount
		FROM (
		SELECT a.ID
		FROM    dbo.B_ChannelTask a
		LEFT JOIN dbo.B_ChannelTask_ChannelUser b ON a.ID = b.ChannelTaskID
		WHERE   a.IsDel = 0 ${whereStr} 
		GROUP BY a.ID 
		) a
	    ]]>
	</select>
	
	<!-- 专员团队管理列表 -->
	<!-- 任务兼职列表 -->
	<select id="mChannelTaskTempPersonList_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		SELECT  *
		FROM    (SELECT  a.ID ,
		        a.ProjectID ,
		        a.Name ,
		        a.TaskType ,
		        dbo.F_DictName(a.TaskType) TaskTypeName ,
		        a.TaskCode ,
		        a.StartTime ,
		        a.EndTime ,
		        a.TaskAreaID ,
		        a.TaskAreaName ,
		        c.Longitude ,
		        c.Dimension ,
		        a.WorkStartTime ,
		        a.WorkEndTime ,
		        a.WorkRange ,
		        a.CustomerTarget ,
		        a.Creator,
		        ( SELECT    COUNT(1)
		          FROM      dbo.B_Clue b
		          WHERE     b.ChannelTaskID = a.ID ${JZCode}
		        ) CustomerCount ,
		        a.Status,
		        ROW_NUMBER() OVER ( ORDER BY a.CreateTime DESC ) num
		FROM    dbo.B_ChannelTask a
		        LEFT JOIN dbo.B_ChannelTask_ChannelUser b ON a.ID = b.ChannelTaskID
		        LEFT JOIN dbo.B_ChannelTaskArea c ON c.ID = a.TaskAreaID
		WHERE   a.IsDel = 0 ${WHERE}
		GROUP BY a.ID ,a.ProjectID ,a.Name ,a.TaskType ,a.TaskCode , a.StartTime ,a.EndTime
			 , a.TaskAreaID ,a.TaskAreaName , c.Longitude ,c.Dimension ,a.WorkStartTime ,a.WorkEndTime ,a.WorkRange ,a.CustomerTarget ,a.Creator,a.CreateTime,a.Status
		        ) t
		WHERE   t.num > ( #{PageIndex} - 1 ) * {PageSize}
		        AND t.num <= #{PageIndex} * #{PageSize};
	    ]]>
	</select>
	<select id="mChannelTaskTempPersonList_SelectAllCount" parameterType="java.util.Map" resultType="int">
		<![CDATA[
		SELECT  COUNT(1) recordCount
		FROM (
		SELECT  a.ID 
		FROM    dbo.B_ChannelUser a
		        INNER JOIN dbo.B_ChannelTask_ChannelUser b ON a.ID = b.ChannelUserID
		        INNER JOIN dbo.B_ChannelTask c ON b.ChannelTaskID = c.ID
		                                          AND c.IsDel = 0  ${taskID}
		WHERE   1 = 1 AND a.Isdel = 0  ${sqlWhere}
		GROUP BY a.ID ,a.Name , a.Mobile ,a.HeadImg ,b.IsDel
		) a
	    ]]>
	</select>
	
	<!-- 兼职列表 -->
	<select id="mChannelTempPersonList_Select" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		SELECT * FROM (    
		SELECT  a.ID ,
		        a.Name ,
		        a.Mobile ,
		        a.HeadImg ,
		        dbo.GetPYFirst(a.Name) FirstChar ,
		        ( SELECT    COUNT(1)
		          FROM      dbo.B_Clue 
		          WHERE     ChannelUserID = a.ID 
		        ) CustomerCount ,
		        a.IsDel ,
		        ROW_NUMBER() OVER ( ORDER BY dbo.GetPYFirst(a.Name) DESC ) num
		FROM    dbo.B_ChannelUser a
		        INNER JOIN dbo.B_ChannelTask_ChannelUser b ON a.ID = b.ChannelUserID
		        INNER JOIN dbo.B_ChannelTask c ON b.ChannelTaskID = c.ID
		                                          AND c.IsDel = 0
		WHERE   1 = 1  AND a.Isdel = 0 ${sqlWhere}
		GROUP BY a.ID ,a.Name ,a.Mobile ,a.HeadImg ,a.IsDel
		) t
		WHERE   t.num > ( #{PageIndex} - 1 ) * #{PageSize}
		        AND t.num <= #{PageIndex} * #{PageSize};  
	    ]]>
	</select>
	<select id="mChannelTempPersonList_SelectAllCount" parameterType="java.util.Map" resultType="int">
		<![CDATA[
		SELECT  COUNT(1) recordCount
		FROM (
		SELECT  a.ID
		FROM    dbo.B_ChannelUser a
		        INNER JOIN dbo.B_ChannelTask_ChannelUser b ON a.ID = b.ChannelUserID
		        INNER JOIN dbo.B_ChannelTask c ON b.ChannelTaskID = c.ID
		                                          AND c.IsDel = 0
		WHERE   1 = 1  AND a.Isdel = 0 ${sqlWhere}
		GROUP BY a.ID ,a.Name , a.Mobile ,a.HeadImg , a.IsDel
		) a
	    ]]>
	</select>
</mapper>
