<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.channel.BChannelorgMapper">

    <select id="getList" resultType="com.tahoecn.xkc.model.dto.ChannelDto" parameterType="hashmap">

SELECT (SELECT UPPER(STUFF((SELECT ','+ProjectID from dbo.B_PojectChannelOrgRel where OrgID=t.ID AND IsDel=0 AND Status=1 for XML PATH('')),1,1,''))) ProjectIDs,t.* FROM (
SELECT ROW_NUMBER() OVER ( ORDER BY a.CreateTime DESC ) ID1516, a.ID,a.OrgCode,a.OrgName,a.OrgShortName,a.BizLicense,a.[Status],a.CreateTime,a.ProjectID,
case a.[Status] when 0 then '禁用' when 1 then '启用' else '' end as StatuName,
sa.EmployeeName AS CreatorName,
	b.ID AS LeaderID,b.UserName,b.[Password],b.Name AS OrgLeaderName,STUFF(b.Mobile ,4,4,'****') AS OrgLeaderMobileSt,
  b.Mobile as OrgLeaderMobile,
	b.[Status] AS OrgLeaderStatu,case b.[Status] when 0 then '禁用' when 1 then '启用' else '' end as OrgLeaderStatuName
  , a.[Status] AS OrgStatu,case a.[Status] when 0 then '禁用' when 1 then '启用' else '' end as OrgStatuName
  ,a.ChannelTypeID,[dbo].[F_DictName](a.ChannelTypeID) as ChannelType
FROM [dbo].[B_ChannelOrg] a
LEFT JOIN dbo.B_ChannelUser  b ON a.ID=b.ChannelOrgID  AND b.IsDel=0 and b.job=0
left join S_Account sa on a.Creator=sa.id
WHERE a.IsDel=0 and a.OrgCategory=1 and a.ID IN (SELECT DISTINCT OrgID FROM [dbo].[B_PojectChannelOrgRel] WHERE ProjectID=#{ProjectID} AND IsDel=0 AND Status=1)
<if test="sqlWhere!=null and sqlWhere!= ''">
    ${sqlWhere}
</if>
) t
        <![CDATA[  WHERE 1=1   and t.ID1516 > ( #{pageNum} - 1 ) * #{pageSize}
        AND t.ID1516 <= #{pageNum} * #{pageSize}
]]>
    </select>

    <select id="getRecordCount" resultType="integer">
        SELECT COUNT(1) RecordCount
        FROM [dbo].[B_ChannelOrg] a
        LEFT JOIN dbo.B_ChannelUser  b ON a.ID=b.ChannelOrgID  AND b.IsDel=0 and b.job=0
        left join S_Account sa on a.Creator=sa.id
        WHERE a.IsDel=0 and a.OrgCategory=1 and a.ID IN (SELECT DISTINCT OrgID FROM [dbo].[B_PojectChannelOrgRel] WHERE ProjectID=#{ProjectID} AND  IsDel=0 AND Status=1) ${sqlWhere}

    </select>

    <insert id="ChannelDetail_InsertN" parameterType="com.tahoecn.xkc.model.dto.ChannelInsertDto">
        INSERT INTO [dbo].[B_ChannelOrg] (
        ID,
        OrgCode,
        OrgName,
        OrgShortName,
        ChannelTypeID,
        ProjectID,
        OrgCategory,
        Mobile,
        Responsible,
        ApprovalStatus,
        ApprovalDate,
        Creator,
        CreateTime,
        Bizlicense,
        IsDel,
        [Status]
        )
        VALUES
        (
        #{orgID},
        #{orgCode},
        #{orgName},
        #{orgShortName},
        '32C92DA0-DA13-4C21-A55E-A1D16955882C',
        '',
        1,
        #{mobile},
        #{name},
        1,
        getdate(),
        #{userID},
        getdate(),
        #{bizlicense},
        0,
        1
        )

    </insert>

    <select id="ChannelOrgAllList_SelectN" resultType="java.util.Map">
        SELECT
        ID,
        OrgCode,
        OrgName,
        OrgShortName
        FROM
        [dbo].[B_ChannelOrg]
        WHERE
        IsDel = 0
        AND [Status] = 1
        AND ProjectID = #{ProjectID}
        <if test="pOrgName!=null and pOrgName!=''">
            AND OrgName like concat('%',#{pOrgName},'%')
        </if>
        ORDER BY
        CreateTime DESC
    </select>

    <update id="ChannelStatus_UpdateN" >
        UPDATE [dbo].[B_ChannelOrg] SET [Status]=#{Status},Editor=#{UserID},EditTime=getdate() WHERE ID=#{ID}
    </update>


    <select id="ChannelOrgNameIsExist_SelectN" resultType="integer" parameterType="string">
        <![CDATA[ select count(1) ct from B_ChannelOrg where OrgName=#{OrgName} and IsDel=0 ${sqlWhere} ]]>
    </select>

    <select id="getOrgCode" resultType="string">
        SELECT MAX(OrgCode) as OrgCode  FROM [B_ChannelOrg]
    </select>
    <select id="ChannelExcelList_SelectN" resultType="java.util.Map">
        SELECT ROW_NUMBER() OVER ( ORDER BY a.CreateTime DESC ) num,
        a.ID,
        a.OrgCode,
        a.OrgName,
        a.OrgShortName,
        a.BizLicense,
        a.[Status],
        a.CreateTime,
        a.ProjectID,
        CASE a.[Status]
        WHEN 0
        THEN '禁用'
        WHEN 1
        THEN '启用'
        ELSE ''
        END                             AS           StatuName,
        sa.EmployeeName                     AS           CreatorName,
        b.ID                                AS           LeaderID,
        b.UserName,
        b.[Password                 ],
        b.Name                              AS           OrgLeaderName,
        STUFF(b.Mobile, 4, 4, '****')       AS           OrgLeaderMobileSt,
        b.Mobile                            AS           OrgLeaderMobile,
        b.[Status]                          AS           OrgLeaderStatu,
        CASE b.[Status]
        WHEN 0
        THEN '禁用'
        WHEN 1
        THEN '启用'
        ELSE ''
        END                             AS           OrgLeaderStatuName,
        a.[Status]                          AS           OrgStatu,
        CASE a.[Status]
        WHEN 0
        THEN '禁用'
        WHEN 1
        THEN '启用'
        ELSE ''
        END                             AS           OrgStatuName,
        a.ChannelTypeID,
        [DBO].[F_DictName](a.ChannelTypeID) AS           ChannelType
        FROM [DBO].[B_ChannelOrg] a
        LEFT JOIN
        dbo.B_ChannelUser b
        ON
        a.ID = b.ChannelOrgID
        AND b.IsDel = 0
        AND b.job = 0
        LEFT JOIN
        S_Account sa
        ON
        a.Creator = sa.id
        WHERE a.IsDel = 0
        AND a.OrgCategory = 1
        AND a.ID IN
        (
        SELECT DISTINCT OrgID
        FROM [DBO].[B_PojectChannelOrgRel]
        WHERE ProjectID = #{projectID}
        AND IsDel = 0
        AND Status = 1) ${sqlWhere}
    </select>
    <select id="AgenList_SelectN" resultType="java.util.Map">
        <![CDATA[
            SELECT cu.ID,
            cu.UserName,
            cu.Mobile                                                                                        as MobileSt,
            cu.Mobile,
            cu.CertificatesType,
            cu.Name,
            d3.DictName                                                                                      as Gender,
            cu.CertificatesNo,
            cu.CertificatesPicFace,
            cu.CertificatesPicBack,
            cu.BankCardPerson,
            cu.BankCardCreate,
            cu.BankCard,
            cu.BankCardPic,
            cu.ChannelOrgID,
            cu.CreateTime,
            cu.[Status],
            case cu.[Status] when 0 then '禁用' when 1 then '启用' else '' end                                   as StatusName,
            cu.ApprovalDate,
            o.OrgName                                                                                        as ChannelOrgName,
            o.OrgCode                                                                                        as ChannelOrgCode,
            cu.ChannelTypeID,
            d.DictName,
            d2.DictName                                                                                      as CertificatesTypeName,
            a1.[EmployeeName]                                                                                as InviterName,
            case cu.ApprovalStatus
            when '0' then '待审核'
            when '1' then '通过'
            when '2' then '不通过'
            else '待审核' end                                                                               as ApprovalStatuss
            ,
            a.[EmployeeName]                                                                                 as ApproverName
            FROM dbo.B_ChannelUser cu
            left join S_Dictionary d on cu.ChannelTypeID = d.id
            left join S_Dictionary d2 on cu.CertificatesType = d2.id
            left join S_Dictionary d3 on cu.Gender = d3.id
            left join S_Account a on cu.Approver = a.id
            left join S_Account a1 on cu.Inviter = a1.id
            left join B_ChannelOrg o on cu.ChannelOrgID = o.ID
            WHERE 1 = 1
            and cu.IsDel = 0 ${where} ${orderBy}
        ]]>
    </select>
</mapper>
