<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.channel.BPojectchannelorgrelMapper">

    <update id="updateToDelete" parameterType="com.tahoecn.xkc.model.channel.BPojectchannelorgrel">
        UPDATE dbo.B_PojectChannelOrgRel SET IsDel=1, Editor=#{UserID},EditTime=GETDATE() WHERE OrgID=#{OrgID}
    </update>
</mapper>
