<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tahoecn.xkc.mapper.miniprogram.CustomerMapper">
   <select id="getCustomerList1" parameterType="com.tahoecn.xkc.model.miniprogram.vo.RelationshipVO"
           resultType="java.util.Map">
     SELECT * FROM dbo.B_Clue WHERE ReportUserID = #{relationship.userId}
   </select>

    <select id="getCustomerList2" parameterType="com.tahoecn.xkc.model.miniprogram.vo.RelationshipVO"
            resultType="java.util.Map">
     SELECT * FROM dbo.B_Opportunity WHERE SaleUserID = #{relationship.userId}
    </select>

    <select id="getCustomerDetail1" parameterType="string" resultType="java.util.Map">
       SELECT * FROM dbo.B_Clue WHERE ID = #{opportunityId}
    </select>

    <select id="getCustomerDetail2" parameterType="string" resultType="java.util.Map">
       SELECT * FROM dbo.B_Opportunity WHERE ID = #{opportunityId}
    </select>

    <select id="getCustomerId1" parameterType="string" resultType="string">
      SELECT CustomerPotentialID CustomerID FROM dbo.B_Clue WHERE ID = #{opportunityId}
    </select>

    <select id="getCustomerId2" parameterType="string" resultType="string">
      SELECT CustomerID FROM dbo.B_Opportunity WHERE ID = #{opportunityId}
    </select>

    <select id="getCustomerFollowRecord" parameterType="string" resultType="java.util.Map">
        SELECT
            T.*
        FROM
            (
                SELECT
                    FollwUpUserID,
                    FollwUpUserName,
                    FollwUpUserMobile,
                    FollowUpContent,
                    dbo.F_GetDictionaryName ( FollwUpType ) FollwUpType,
                    dbo.F_GetDictionaryName ( FollwUpWay ) FollwUpWay,
                    CreateTime
                FROM
                    dbo.B_CustomerPotentialFollowUp
                WHERE
                    CustomerPotentialID = #{customerId}
                UNION ALL
                SELECT
                    FollwUpUserID,
                    FollwUpUserName,
                    FollwUpUserMobile,
                    FollowUpContent,
                    dbo.F_GetDictionaryName ( FollwUpType ) FollwUpType,
                    dbo.F_GetDictionaryName ( FollwUpWay ) FollwUpWay,
                    CreateTime
                FROM
                    dbo.B_CustomerFollowUp
                WHERE
                    CustomerID = #{customerId}
                ) T
        ORDER BY
            T.CreateTime DESC
    </select>
</mapper>